In [1]:
#!pip install sqlalchemy

In [2]:
import sqlalchemy as sqla
from sqlalchemy import create_engine
import traceback 
import glob
import os 
import pprint
from pprint import pprint
import json
import requests
import time
from IPython.display import display

In [3]:
url = "dbbikes.cvvkn6jkfbdf.eu-west-1.rds.amazonaws.com"
port = "3306"
db = "dbbikes"
user = "SEGroup25"
password = "SEGroup25?"

In [4]:
engine = create_engine(f"mysql+mysqldb://{user}:{password}@{url}:{port}/{db}", echo=True)

In [5]:
for res in engine.execute("SHOW VARIABLES"):
    print(res)

2023-03-03 15:07:51,701 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-03-03 15:07:51,702 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-03 15:07:51,713 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-03-03 15:07:51,715 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-03 15:07:51,722 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-03-03 15:07:51,723 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-03 15:07:51,735 INFO sqlalchemy.engine.Engine SHOW VARIABLES
2023-03-03 15:07:51,737 INFO sqlalchemy.engine.Engine [raw sql] ()
('activate_all_roles_on_login', 'OFF')
('admin_address', '')
('admin_port', '33062')
('admin_ssl_ca', '')
('admin_ssl_capath', '')
('admin_ssl_cert', '')
('admin_ssl_cipher', '')
('admin_ssl_crl', '')
('admin_ssl_crlpath', '')
('admin_ssl_key', '')
('admin_tls_ciphersuites', '')
('admin_tls_version', 'TLSv1.2,TLSv1.3')
('authentication_policy', '*')
('auto_generate_certs', 'ON')
('auto_increment_increment', '1')
('auto_increment_offset', '1')
('autocommit', 'OFF')
('automatic_sp_privileges', 'ON')
('avoid_temporal_upgrade', 'OFF')
('back_log', '63')
('basedir', '/rdsdbbin/mysql-8.0.28.R4/')
('big_tables', 'OFF')
('bind_address', '*')
('binlog_cache_size', '32768')
('binlog_checksum', 'CRC32')
('binlog_direct_non_transactional_updates', 'OFF')
('binlog_encryption', 'OFF')
('binlog_error_action', 'ABORT_SERVER')
('binlog_expire_logs_seconds', '2592000')
('binlog_format', 'MIXED')
('binlog_group_commit_sync_delay', '0')
('binlog_group_commit_sync_no_delay_count', '0')
('binlog_gtid_simple_recovery', 'ON')
('binlog_max_flush_queue_time', '0')
('binlog_order_commits', 'ON')
('binlog_rotate_encryption_master_key_at_startup', 'OFF')
('binlog_row_event_max_size', '8192')
('binlog_row_image', 'FULL')
('binlog_row_metadata', 'MINIMAL')
('binlog_row_value_options', '')
('binlog_rows_query_log_events', 'OFF')
('binlog_stmt_cache_size', '32768')
('binlog_transaction_compression', 'OFF')
('binlog_transaction_compression_level_zstd', '3')
('binlog_transaction_dependency_history_size', '25000')
('binlog_transaction_dependency_tracking', 'COMMIT_ORDER')
('block_encryption_mode', 'aes-128-ecb')
('bulk_insert_buffer_size', '8388608')
('caching_sha2_password_auto_generate_rsa_keys', 'ON')
('caching_sha2_password_digest_rounds', '5000')
('caching_sha2_password_private_key_path', 'private_key.pem')
('caching_sha2_password_public_key_path', 'public_key.pem')
('character_set_client', 'latin1')
('character_set_connection', 'latin1')
('character_set_database', 'utf8mb4')
('character_set_filesystem', 'binary')
('character_set_results', 'latin1')
('character_set_server', 'utf8mb4')
('character_set_system', 'utf8mb3')
('character_sets_dir', '/rdsdbbin/mysql-8.0.28.R4/share/charsets/')
('check_proxy_users', 'OFF')
('collation_connection', 'latin1_swedish_ci')
('collation_database', 'utf8mb4_0900_ai_ci')
('collation_server', 'utf8mb4_0900_ai_ci')
('completion_type', 'NO_CHAIN')
('concurrent_insert', 'AUTO')
('connect_timeout', '10')
('connection_memory_chunk_size', '8912')
('connection_memory_limit', '18446744073709551615')
('core_file', 'OFF')
('create_admin_listener_thread', 'OFF')
('cte_max_recursion_depth', '1000')
('datadir', '/rdsdbdata/db/')
('default_authentication_plugin', 'mysql_native_password')
('default_collation_for_utf8mb4', 'utf8mb4_0900_ai_ci')
('default_password_lifetime', '0')
('default_storage_engine', 'InnoDB')
('default_table_encryption', 'OFF')
('default_tmp_storage_engine', 'InnoDB')
('default_week_format', '0')
('delay_key_write', 'ON')
('delayed_insert_limit', '100')
('delayed_insert_timeout', '300')
('delayed_queue_size', '1000')
('disabled_storage_engines', '')
('disconnect_on_expired_password', 'ON')
('div_precision_increment', '4')
('end_markers_in_json', 'OFF')
('enforce_gtid_consistency', 'OFF')
('eq_range_index_dive_limit', '200')
('error_count', '0')
('event_scheduler', 'ON')
('expire_logs_days', '0')
('explicit_defaults_for_timestamp', 'ON')
('external_user', '')
('flush', 'OFF')
('flush_time', '0')
('foreign_key_checks', 'ON')
('ft_boolean_syntax', '+ -><()~*:""&|')
('ft_max_word_len', '84')
('ft_min_word_len', '4')
('ft_query_expansion_limit', '20')
('ft_stopword_file', '(built-in)')
('general_log', 'OFF')
('general_log_file', '/rdsdbdata/log/general/mysql-general.log')
('generated_random_password_length', '20')
('global_connection_memory_limit', '18446744073709551615')
('global_connection_memory_tracking', 'OFF')
('group_concat_max_len', '1024')
('group_replication_consistency', 'EVENTUAL')
('gtid_executed', '')
('gtid_executed_compression_period', '0')
('gtid_mode', 'OFF_PERMISSIVE')
('gtid_next', 'AUTOMATIC')
('gtid_owned', '')
('gtid_purged', '')
('have_compress', 'YES')
('have_dynamic_loading', 'YES')
('have_geometry', 'YES')
('have_openssl', 'YES')
('have_profiling', 'YES')
('have_query_cache', 'NO')
('have_rtree_keys', 'YES')
('have_ssl', 'YES')
('have_statement_timeout', 'YES')
('have_symlink', 'DISABLED')
('histogram_generation_max_mem_size', '20000000')
('host_cache_size', '191')
('hostname', 'ip-10-4-2-114')
('identity', '0')
('immediate_server_version', '999999')
('information_schema_stats_expiry', '86400')
('init_connect', '')
('init_file', '')
('init_replica', '')
('init_slave', '')
('innodb_adaptive_flushing', 'ON')
('innodb_adaptive_flushing_lwm', '10')
('innodb_adaptive_hash_index', 'ON')
('innodb_adaptive_hash_index_parts', '8')
('innodb_adaptive_max_sleep_delay', '150000')
('innodb_api_bk_commit_interval', '5')
('innodb_api_disable_rowlock', 'OFF')
('innodb_api_enable_binlog', 'OFF')
('innodb_api_enable_mdl', 'OFF')
('innodb_api_trx_level', '0')
('innodb_autoextend_increment', '64')
('innodb_autoinc_lock_mode', '2')
('innodb_buffer_pool_chunk_size', '134217728')
('innodb_buffer_pool_dump_at_shutdown', 'ON')
('innodb_buffer_pool_dump_now', 'OFF')
('innodb_buffer_pool_dump_pct', '25')
('innodb_buffer_pool_filename', 'ib_buffer_pool')
('innodb_buffer_pool_in_core_file', 'ON')
('innodb_buffer_pool_instances', '1')
('innodb_buffer_pool_load_abort', 'OFF')
('innodb_buffer_pool_load_at_startup', 'ON')
('innodb_buffer_pool_load_now', 'OFF')
('innodb_buffer_pool_size', '268435456')
('innodb_change_buffer_max_size', '25')
('innodb_change_buffering', 'all')
('innodb_checksum_algorithm', 'crc32')
('innodb_cmp_per_index_enabled', 'OFF')
('innodb_commit_concurrency', '0')
('innodb_compression_failure_threshold_pct', '5')
('innodb_compression_level', '6')
('innodb_compression_pad_pct_max', '50')
('innodb_concurrency_tickets', '5000')
('innodb_data_file_path', 'ibdata1:12M:autoextend')
('innodb_data_home_dir', '/rdsdbdata/db/innodb')
('innodb_ddl_buffer_size', '1048576')
('innodb_ddl_threads', '4')
('innodb_deadlock_detect', 'ON')
('innodb_dedicated_server', 'OFF')
('innodb_default_row_format', 'dynamic')
('innodb_directories', '')
('innodb_disable_sort_file_cache', 'OFF')
('innodb_doublewrite', 'ON')
('innodb_doublewrite_batch_size', '16')
('innodb_doublewrite_dir', '')
('innodb_doublewrite_files', '2')
('innodb_doublewrite_pages', '32')
('innodb_extend_and_initialize', 'ON')
('innodb_fast_shutdown', '1')
('innodb_file_per_table', 'ON')
('innodb_fill_factor', '100')
('innodb_flush_log_at_timeout', '1')
('innodb_flush_log_at_trx_commit', '1')
('innodb_flush_method', 'O_DIRECT')
('innodb_flush_neighbors', '0')
('innodb_flush_sync', 'ON')
('innodb_flushing_avg_loops', '30')
('innodb_force_load_corrupted', 'OFF')
('innodb_force_recovery', '0')
('innodb_fsync_threshold', '0')
('innodb_ft_aux_table', '')
('innodb_ft_cache_size', '8000000')
('innodb_ft_enable_diag_print', 'OFF')
('innodb_ft_enable_stopword', 'ON')
('innodb_ft_max_token_size', '84')
('innodb_ft_min_token_size', '3')
('innodb_ft_num_word_optimize', '2000')
('innodb_ft_result_cache_limit', '2000000000')
('innodb_ft_server_stopword_table', '')
('innodb_ft_sort_pll_degree', '2')
('innodb_ft_total_cache_size', '640000000')
('innodb_ft_user_stopword_table', '')
('innodb_idle_flush_pct', '100')
('innodb_io_capacity', '200')
('innodb_io_capacity_max', '2000')
('innodb_lock_wait_timeout', '50')
('innodb_log_buffer_size', '8388608')
('innodb_log_checksums', 'ON')
('innodb_log_compressed_pages', 'ON')
('innodb_log_file_size', '134217728')
('innodb_log_files_in_group', '2')
('innodb_log_group_home_dir', '/rdsdbdata/log/innodb')
('innodb_log_spin_cpu_abs_lwm', '80')
('innodb_log_spin_cpu_pct_hwm', '50')
('innodb_log_wait_for_flush_spin_hwm', '400')
('innodb_log_write_ahead_size', '8192')
('innodb_log_writer_threads', 'ON')
('innodb_lru_scan_depth', '1024')
('innodb_max_dirty_pages_pct', '90.000000')
('innodb_max_dirty_pages_pct_lwm', '10.000000')
('innodb_max_purge_lag', '0')
('innodb_max_purge_lag_delay', '0')
('innodb_max_undo_log_size', '1073741824')
('innodb_monitor_disable', '')
('innodb_monitor_enable', '')
('innodb_monitor_reset', '')
('innodb_monitor_reset_all', '')
('innodb_numa_interleave', 'OFF')
('innodb_old_blocks_pct', '37')
('innodb_old_blocks_time', '1000')
('innodb_online_alter_log_max_size', '134217728')
('innodb_open_files', '4000')
('innodb_optimize_fulltext_only', 'OFF')
('innodb_page_cleaners', '1')
('innodb_page_size', '16384')
('innodb_parallel_read_threads', '4')
('innodb_print_all_deadlocks', 'OFF')
('innodb_print_ddl_logs', 'OFF')
('innodb_purge_batch_size', '300')
('innodb_purge_rseg_truncate_frequency', '128')
('innodb_purge_threads', '1')
('innodb_random_read_ahead', 'OFF')
('innodb_read_ahead_threshold', '56')
('innodb_read_io_threads', '4')
('innodb_read_only', 'OFF')
('innodb_redo_log_archive_dirs', '')
('innodb_redo_log_encrypt', 'OFF')
('innodb_replication_delay', '0')
('innodb_rollback_on_timeout', 'OFF')
('innodb_rollback_segments', '128')
('innodb_segment_reserve_factor', '12.500000')
('innodb_sort_buffer_size', '1048576')
('innodb_spin_wait_delay', '6')
('innodb_spin_wait_pause_multiplier', '50')
('innodb_stats_auto_recalc', 'ON')
('innodb_stats_include_delete_marked', 'OFF')
('innodb_stats_method', 'nulls_equal')
('innodb_stats_on_metadata', 'OFF')
('innodb_stats_persistent', 'ON')
('innodb_stats_persistent_sample_pages', '20')
('innodb_stats_transient_sample_pages', '8')
('innodb_status_output', 'OFF')
('innodb_status_output_locks', 'OFF')
('innodb_strict_mode', 'ON')
('innodb_sync_array_size', '1')
('innodb_sync_spin_loops', '30')
('innodb_table_locks', 'ON')
('innodb_temp_data_file_path', 'ibtmp1:12M:autoextend')
('innodb_temp_tablespaces_dir', './#innodb_temp/')
('innodb_thread_concurrency', '0')
('innodb_thread_sleep_delay', '10000')
('innodb_tmpdir', '')
('innodb_undo_directory', './')
('innodb_undo_log_encrypt', 'OFF')
('innodb_undo_log_truncate', 'ON')
('innodb_undo_tablespaces', '2')
('innodb_use_fdatasync', 'OFF')
('innodb_use_native_aio', 'ON')
('innodb_validate_tablespace_paths', 'ON')
('innodb_version', '8.0.28')
('innodb_write_io_threads', '4')
('insert_id', '0')
('interactive_timeout', '28800')
('internal_tmp_mem_storage_engine', 'TempTable')
('join_buffer_size', '262144')
('keep_files_on_create', 'OFF')
('key_buffer_size', '16777216')
('key_cache_age_threshold', '300')
('key_cache_block_size', '1024')
('key_cache_division_limit', '100')
('keyring_operations', 'ON')
('large_files_support', 'ON')
('large_page_size', '0')
('large_pages', 'OFF')
('last_insert_id', '0')
('lc_messages', 'en_US')
('lc_messages_dir', '/rdsdbbin/mysql-8.0.28.R4/share/')
('lc_time_names', 'en_US')
('license', 'GPL')
('local_infile', 'ON')
('lock_wait_timeout', '31536000')
('locked_in_memory', 'OFF')
('log_bin', 'ON')
('log_bin_basename', '/rdsdbdata/log/binlog/mysql-bin-changelog')
('log_bin_index', '/rdsdbdata/log/binlog/mysql-bin-changelog.index')
('log_bin_trust_function_creators', 'OFF')
('log_bin_use_v1_row_events', 'OFF')
('log_error', '/rdsdbdata/log/error/mysql-error.log')
('log_error_services', 'log_filter_internal; log_sink_internal')
('log_error_suppression_list', '')
('log_error_verbosity', '2')
('log_output', 'TABLE')
('log_queries_not_using_indexes', 'OFF')
('log_raw', 'OFF')
('log_replica_updates', 'ON')
('log_slave_updates', 'ON')
('log_slow_admin_statements', 'OFF')
('log_slow_extra', 'OFF')
('log_slow_replica_statements', 'OFF')
('log_slow_slave_statements', 'OFF')
('log_statements_unsafe_for_binlog', 'OFF')
('log_throttle_queries_not_using_indexes', '0')
('log_timestamps', 'UTC')
('long_query_time', '10.000000')
('low_priority_updates', 'OFF')
('lower_case_file_system', 'OFF')
('lower_case_table_names', '0')
('mandatory_roles', '')
('master_info_repository', 'TABLE')
('master_verify_checksum', 'OFF')
('max_allowed_packet', '67108864')
('max_binlog_cache_size', '18446744073709547520')
('max_binlog_size', '134217728')
('max_binlog_stmt_cache_size', '18446744073709547520')
('max_connect_errors', '100')
('max_connections', '63')
('max_delayed_threads', '20')
('max_digest_length', '1024')
('max_error_count', '1024')
('max_execution_time', '0')
('max_heap_table_size', '16777216')
('max_insert_delayed_threads', '20')
('max_join_size', '18446744073709551615')
('max_length_for_sort_data', '4096')
('max_points_in_geometry', '65536')
('max_prepared_stmt_count', '16382')
('max_relay_log_size', '0')
('max_seeks_for_key', '18446744073709551615')
('max_sort_length', '1024')
('max_sp_recursion_depth', '0')
('max_user_connections', '0')
('max_write_lock_count', '18446744073709551615')
('min_examined_row_limit', '0')
('myisam_data_pointer_size', '6')
('myisam_max_sort_file_size', '9223372036853727232')
('myisam_mmap_size', '18446744073709551615')
('myisam_recover_options', 'OFF')
('myisam_repair_threads', '1')
('myisam_sort_buffer_size', '8388608')
('myisam_stats_method', 'nulls_unequal')
('myisam_use_mmap', 'OFF')
('mysql_native_password_proxy_users', 'OFF')
('net_buffer_length', '16384')
('net_read_timeout', '30')
('net_retry_count', '10')
('net_write_timeout', '60')
('new', 'OFF')
('ngram_token_size', '2')
('offline_mode', 'OFF')
('old', 'OFF')
('old_alter_table', 'OFF')
('open_files_limit', '1048576')
('optimizer_prune_level', '1')
('optimizer_search_depth', '62')
('optimizer_switch', 'index_merge=on,index_merge_union=on,index_merge_sort_union=on,index_merge_intersection=on,engine_condition_pushdown=on,index_condition_pushdown=on,mr ... (258 characters truncated) ... visible_indexes=off,skip_scan=on,hash_join=on,subquery_to_derived=off,prefer_ordering_index=on,hypergraph_optimizer=off,derived_condition_pushdown=on')
('optimizer_trace', 'enabled=off,one_line=off')
('optimizer_trace_features', 'greedy_search=on,range_optimizer=on,dynamic_range=on,repeated_subselect=on')
('optimizer_trace_limit', '1')
('optimizer_trace_max_mem_size', '1048576')
('optimizer_trace_offset', '-1')
('original_commit_timestamp', '36028797018963968')
('original_server_version', '999999')
('parser_max_mem_size', '18446744073709551615')
('partial_revokes', 'OFF')
('password_history', '0')
('password_require_current', 'OFF')
('password_reuse_interval', '0')
('performance_schema', 'OFF')
('performance_schema_accounts_size', '0')
('performance_schema_digests_size', '0')
('performance_schema_error_size', '0')
('performance_schema_events_stages_history_long_size', '0')
('performance_schema_events_stages_history_size', '0')
('performance_schema_events_statements_history_long_size', '0')
('performance_schema_events_statements_history_size', '0')
('performance_schema_events_transactions_history_long_size', '0')
('performance_schema_events_transactions_history_size', '0')
('performance_schema_events_waits_history_long_size', '0')
('performance_schema_events_waits_history_size', '0')
('performance_schema_hosts_size', '0')
('performance_schema_max_cond_classes', '0')
('performance_schema_max_cond_instances', '0')
('performance_schema_max_digest_length', '0')
('performance_schema_max_digest_sample_age', '60')
('performance_schema_max_file_classes', '0')
('performance_schema_max_file_handles', '0')
('performance_schema_max_file_instances', '0')
('performance_schema_max_index_stat', '0')
('performance_schema_max_memory_classes', '0')
('performance_schema_max_metadata_locks', '0')
('performance_schema_max_mutex_classes', '0')
('performance_schema_max_mutex_instances', '0')
('performance_schema_max_prepared_statements_instances', '0')
('performance_schema_max_program_instances', '0')
('performance_schema_max_rwlock_classes', '0')
('performance_schema_max_rwlock_instances', '0')
('performance_schema_max_socket_classes', '0')
('performance_schema_max_socket_instances', '0')
('performance_schema_max_sql_text_length', '0')
('performance_schema_max_stage_classes', '0')
('performance_schema_max_statement_classes', '0')
('performance_schema_max_statement_stack', '0')
('performance_schema_max_table_handles', '0')
('performance_schema_max_table_instances', '0')
('performance_schema_max_table_lock_stat', '0')
('performance_schema_max_thread_classes', '0')
('performance_schema_max_thread_instances', '0')
('performance_schema_session_connect_attrs_size', '0')
('performance_schema_setup_actors_size', '0')
('performance_schema_setup_objects_size', '0')
('performance_schema_show_processlist', 'OFF')
('performance_schema_users_size', '0')
('persist_only_admin_x509_subject', '')
('persisted_globals_load', 'OFF')
('pid_file', '/rdsdbdata/log/mysql-3306.pid')
('plugin_dir', '/rdsdbbin/mysql-8.0.28.R4/lib/plugin/')
('port', '3306')
('preload_buffer_size', '32768')
('print_identified_with_as_hex', 'OFF')
('profiling', 'OFF')
('profiling_history_size', '15')
('protocol_compression_algorithms', 'zlib,zstd,uncompressed')
('protocol_version', '10')
('proxy_user', '')
('pseudo_replica_mode', 'OFF')
('pseudo_slave_mode', 'OFF')
('pseudo_thread_id', '3054')
('query_alloc_block_size', '8192')
('query_prealloc_size', '8192')
('rand_seed1', '0')
('rand_seed2', '0')
('range_alloc_block_size', '4096')
('range_optimizer_max_mem_size', '8388608')
('rbr_exec_mode', 'STRICT')
('read_buffer_size', '262144')
('read_only', 'OFF')
('read_rnd_buffer_size', '524288')
('regexp_stack_limit', '8000000')
('regexp_time_limit', '32')
('relay_log', '/rdsdbdata/log/relaylog/relaylog')
('relay_log_basename', '/rdsdbdata/log/relaylog/relaylog')
('relay_log_index', '/rdsdbdata/log/relaylog/relaylog.index')
('relay_log_info_file', 'relay-log.info')
('relay_log_info_repository', 'TABLE')
('relay_log_purge', 'ON')
('relay_log_recovery', 'ON')
('relay_log_space_limit', '0')
('replica_allow_batching', 'OFF')
('replica_checkpoint_group', '512')
('replica_checkpoint_period', '300')
('replica_compressed_protocol', 'OFF')
('replica_exec_mode', 'IDEMPOTENT')
('replica_load_tmpdir', '/rdsdbdata/tmp')
('replica_max_allowed_packet', '1073741824')
('replica_net_timeout', '60')
('replica_parallel_type', 'LOGICAL_CLOCK')
('replica_parallel_workers', '4')
('replica_pending_jobs_size_max', '134217728')
('replica_preserve_commit_order', 'ON')
('replica_skip_errors', 'OFF')
('replica_sql_verify_checksum', 'ON')
('replica_transaction_retries', '10')
('replica_type_conversions', '')
('replication_optimize_for_static_plugin_config', 'OFF')
('replication_sender_observe_commit_only', 'OFF')
('report_host', '')
('report_password', '')
('report_port', '3306')
('report_user', '')
('require_row_format', 'OFF')
('require_secure_transport', 'OFF')
('resultset_metadata', 'FULL')
('rpl_read_size', '8192')
('rpl_stop_replica_timeout', '31536000')
('rpl_stop_slave_timeout', '31536000')
('schema_definition_cache', '256')
('secondary_engine_cost_threshold', '100000.000000')
('secure_file_priv', '/secure_file_priv_dir/')
('select_into_buffer_size', '131072')
('select_into_disk_sync', 'OFF')
('select_into_disk_sync_delay', '0')
('server_id', '841325650')
('server_id_bits', '32')
('server_uuid', 'c45ef9b0-b35d-11ed-b240-0635efe1fbc1')
('session_track_gtids', 'OFF')
('session_track_schema', 'ON')
('session_track_state_change', 'OFF')
('session_track_system_variables', 'time_zone,autocommit,character_set_client,character_set_results,character_set_connection')
('session_track_transaction_info', 'OFF')
('sha256_password_auto_generate_rsa_keys', 'ON')
('sha256_password_private_key_path', 'private_key.pem')

In [6]:


    
#Drop table
engine.execute("DROP TABLE IF EXISTS `dbbikes`.`stations`")

#Create table

sql = """
CREATE TABLE `dbbikes`.`stations` (
  `number` INT NOT NULL,
  `contract_name` VARCHAR(45) NULL,
  `stat_name` VARCHAR(45) NULL,
  `address` VARCHAR(45) NULL,
  `position_lat` REAL NULL,
  `position_long` REAL NULL,
  `banking` TINYINT NULL,
  `bonus` TINYINT NULL,
  `bikestands` VARCHAR(45) NULL,
  `stat_status` VARCHAR(45) NULL,
  PRIMARY KEY (`number`));
"""
engine.execute(sql)

#Truncate table
  
#sql = """
 #   TRUNCATE TABLE `dbbikes`.`stations`

#"""
#engine.execute(sql)

2023-03-03 15:07:51,773 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS `dbbikes`.`stations`
2023-03-03 15:07:51,774 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-03 15:07:51,794 INFO sqlalchemy.engine.Engine COMMIT
2023-03-03 15:07:51,809 INFO sqlalchemy.engine.Engine
CREATE TABLE `dbbikes`.`stations` (
  `number` INT NOT NULL,
  `contract_name` VARCHAR(45) NULL,
  `stat_name` VARCHAR(45) NULL,
  `address` VARCHAR(45) NULL,
  `position_lat` REAL NULL,
  `position_long` REAL NULL,
  `banking` TINYINT NULL,
  `bonus` TINYINT NULL,
  `bikestands` VARCHAR(45) NULL,
  `stat_status` VARCHAR(45) NULL,
  PRIMARY KEY (`number`));

2023-03-03 15:07:51,810 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-03 15:07:51,844 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
sql = """
CREATE TABLE IF NOT EXISTS availability (
available_bike_stands INT,
available_bikes INT,
last_update INT,
number INT)
"""

try:
    res = engine.execute(sql)
    print(res.fetchall())
except Exception as e:
    print(e)

2023-03-03 15:07:51,887 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS availability (
available_bike_stands INT,
available_bikes INT,
last_update INT,
number INT)

2023-03-03 15:07:51,888 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-03 15:07:51,897 INFO sqlalchemy.engine.Engine COMMIT
This result object does not return rows. It has been closed automatically.

In [8]:
# meta_data = sqla.MetaData(bind=engine)
# sqla.MetaData.reflect(meta_data)
# sTable = meta_data.tables['station']

In [9]:
import requests
import traceback
import datetime
import time

In [10]:
APIKEY = "5ac1b590c7e338d66c34fa0c5610e94c99a3b45c"
NAME = "Dublin"
STATIONS = "https://api.jcdecaux.com/vls/v1/stations"

In [ ]:
#r = requests.get(STATIONS , params = {"apiKey": APIKEY, "contract": NAME})
def write_to_file(text):
    now = datetime.datetime.now()
    with open(f"data/bikes_{now}".replace(" ", "_"), "w") as f:
        f.write(text)
    

            
def stations_to_db(text):
    stations = json.loads(text)
    print(type(stations),len(stations))
    print(text)

    for station in stations:
        print(station)
        vals = (
            station.get("number"),
            station.get("contract_name"),
            station.get("name"),
            station.get("address"),
            station.get("position").get("lat"),
            station.get("position").get("lng"),
            station.get("banking"),
            station.get("bonus"),
            station.get("bike_stands"),
            station.get("status")
        )
        print("\n\n\nVALS:{}\n\n\n".format(vals))
        engine.execute("insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
        #break

def availability_to_db(text):
    availability =json.loads(text)
    print(type(availability), len(availability))
    for available in availability:
        print(available)
        vals = (
        (available.get("available_bike_stands")),
        (available.get("available_bikes")),
        available.get("last_update"),
        (available.get("number"))
        )
        engine.execute("insert into availability values(%s, %s, %s, %s)", vals)
        #break
    return


#availability_to_db(r.text)

def main():
    while True:
        try:
            now = datetime.datetime.now()
            r = requests.get(STATIONS , params = {"apiKey": APIKEY, "contract": NAME})
            print(r,now)
            #write_to_file(r.text)
            stations_to_db(r.text)
            availability_to_db(r.text)
            time.sleep(5 * 60)
        except:
            print(traceback.format_exc())
            if engine is None:
                return

if __name__ == "__main__":
    main()

<Response [200]> 2023-03-03 15:07:51.945909
<class 'list'> 115

2023-03-03 15:07:52,120 INFO sqlalchemy.engine.Engine [raw sql] (42, 'dublin', 'SMITHFIELD NORTH', 'Smithfield North', 53.349562, -6.278198, False, False, 30, 'OPEN')
2023-03-03 15:07:52,151 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 13, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677855811000}



VALS:(30, 'dublin', 'PARNELL SQUARE NORTH', 'Parnell Square North', 53.3537415547453, -6.26530144781526, False, False, 20, 'OPEN')



2023-03-03 15:07:52,172 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,175 INFO sqlalchemy.engine.Engine [raw sql] (30, 'dublin', 'PARNELL SQUARE NORTH', 'Parnell Square North', 53.3537415547453, -6.26530144781526, False, False, 20, 'OPEN')
2023-03-03 15:07:52,182 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 20, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677855762000}



VALS:(54, 'dublin', 'CLONMEL STREET', 'Clonmel Street', 53.336021, -6.26298, False, False, 33, 'OPEN')



2023-03-03 15:07:52,203 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,204 INFO sqlalchemy.engine.Engine [raw sql] (54, 'dublin', 'CLONMEL STREET', 'Clonmel Street', 53.336021, -6.26298, False, False, 33, 'OPEN')
2023-03-03 15:07:52,216 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 21, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677855925000}



VALS:(108, 'dublin', 'AVONDALE ROAD', 'Avondale Road', 53.359405, -6.276142, False, False, 35, 'OPEN')



2023-03-03 15:07:52,253 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,256 INFO sqlalchemy.engine.Engine [raw sql] (108, 'dublin', 'AVONDALE ROAD', 'Avondale Road', 53.359405, -6.276142, False, False, 35, 'OPEN')
2023-03-03 15:07:52,266 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677855954000}



VALS:(20, 'dublin', 'JAMES STREET EAST', 'James Street East', 53.336597, -6.248109, False, False, 30, 'OPEN')



2023-03-03 15:07:52,288 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,289 INFO sqlalchemy.engine.Engine [raw sql] (20, 'dublin', 'JAMES STREET EAST', 'James Street East', 53.336597, -6.248109, False, False, 30, 'OPEN')
2023-03-03 15:07:52,295 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677855644000}



VALS:(56, 'dublin', 'MOUNT STREET LOWER', 'Mount Street Lower', 53.33796, -6.24153, False, False, 40, 'OPEN')



2023-03-03 15:07:52,310 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,311 INFO sqlalchemy.engine.Engine [raw sql] (56, 'dublin', 'MOUNT STREET LOWER', 'Mount Street Lower', 53.33796, -6.24153, False, False, 40, 'OPEN')
2023-03-03 15:07:52,348 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677855626000}



VALS:(6, 'dublin', 'CHRISTCHURCH PLACE', 'Christchurch Place', 53.343368, -6.27012, False, False, 20, 'OPEN')



2023-03-03 15:07:52,385 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,388 INFO sqlalchemy.engine.Engine [raw sql] (6, 'dublin', 'CHRISTCHURCH PLACE', 'Christchurch Place', 53.343368, -6.27012, False, False, 20, 'OPEN')
2023-03-03 15:07:52,396 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677856055000}



VALS:(18, 'dublin', 'GRANTHAM STREET', 'Grantham Street', 53.334123, -6.265436, False, False, 30, 'OPEN')



2023-03-03 15:07:52,428 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,435 INFO sqlalchemy.engine.Engine [raw sql] (18, 'dublin', 'GRANTHAM STREET', 'Grantham Street', 53.334123, -6.265436, False, False, 30, 'OPEN')
2023-03-03 15:07:52,460 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677856045000}



VALS:(32, 'dublin', 'PEARSE STREET', 'Pearse Street', 53.344304, -6.250427, False, False, 30, 'OPEN')



2023-03-03 15:07:52,493 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,494 INFO sqlalchemy.engine.Engine [raw sql] (32, 'dublin', 'PEARSE STREET', 'Pearse Street', 53.344304, -6.250427, False, False, 30, 'OPEN')
2023-03-03 15:07:52,502 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 14, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677855790000}



VALS:(52, 'dublin', 'YORK STREET EAST', 'York Street East', 53.338755, -6.262003, False, False, 32, 'OPEN')



2023-03-03 15:07:52,522 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,524 INFO sqlalchemy.engine.Engine [raw sql] (52, 'dublin', 'YORK STREET EAST', 'York Street East', 53.338755, -6.262003, False, False, 32, 'OPEN')
2023-03-03 15:07:52,532 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677855996000}



VALS:(48, 'dublin', 'EXCISE WALK', 'Excise Walk', 53.347777, -6.244239, False, False, 40, 'OPEN')



2023-03-03 15:07:52,548 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,549 INFO sqlalchemy.engine.Engine [raw sql] (48, 'dublin', 'EXCISE WALK', 'Excise Walk', 53.347777, -6.244239, False, False, 40, 'OPEN')
2023-03-03 15:07:52,559 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 24, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855754000}



VALS:(13, 'dublin', 'FITZWILLIAM SQUARE WEST', 'Fitzwilliam Square West', 53.336074, -6.252825, False, False, 30, 'OPEN')



2023-03-03 15:07:52,579 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-03 15:07:52,583 INFO sqlalchemy.engine.Engine [raw sql] (13, 'dublin', 'FITZWILLIAM SQUARE WEST', 'Fitzwilliam Square West', 53.336074, -6.252825, False, False, 30, 'OPEN')
2023-03-03 15:07:52,592 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677855648000}



VALS:(43, 'dublin', 'PORTOBELLO ROAD', 'Portobello Road', 53.330091, -6.268044, False, False, 30, 'OPEN')



2023-03-03 15:07:52,612 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,614 INFO sqlalchemy.engine.Engine [raw sql] (43, 'dublin', 'PORTOBELLO ROAD', 'Portobello Road', 53.330091, -6.268044, False, False, 30, 'OPEN')
2023-03-03 15:07:52,624 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 14, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855695000}



VALS:(31, 'dublin', 'PARNELL STREET', 'Parnell Street', 53.350929, -6.265125, False, False, 20, 'OPEN')



2023-03-03 15:07:52,645 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,646 INFO sqlalchemy.engine.Engine [raw sql] (31, 'dublin', 'PARNELL STREET', 'Parnell Street', 53.350929, -6.265125, False, False, 20, 'OPEN')
2023-03-03 15:07:52,654 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677855855000}



VALS:(98, 'dublin', 'FREDERICK STREET SOUTH', 'Frederick Street South', 53.341515, -6.256853, False, False, 40, 'OPEN')



2023-03-03 15:07:52,672 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,673 INFO sqlalchemy.engine.Engine [raw sql] (98, 'dublin', 'FREDERICK STREET SOUTH', 'Frederick Street South', 53.341515, -6.256853, False, False, 40, 'OPEN')
2023-03-03 15:07:52,683 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855941000}



VALS:(14, 'dublin', 'FOWNES STREET UPPER', 'Fownes Street Upper', 53.344603, -6.263371, False, False, 30, 'OPEN')



2023-03-03 15:07:52,699 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,701 INFO sqlalchemy.engine.Engine [raw sql] (14, 'dublin', 'FOWNES STREET UPPER', 'Fownes Street Upper', 53.344603, -6.263371, False, False, 30, 'OPEN')
2023-03-03 15:07:52,710 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 20, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855945000}



VALS:(1, 'dublin', 'CLARENDON ROW', 'Clarendon Row', 53.340927, -6.262501, False, False, 31, 'OPEN')



2023-03-03 15:07:52,727 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,729 INFO sqlalchemy.engine.Engine [raw sql] (1, 'dublin', 'CLARENDON ROW', 'Clarendon Row', 53.340927, -6.262501, False, False, 31, 'OPEN')
2023-03-03 15:07:52,736 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677856026000}



VALS:(23, 'dublin', 'CUSTOM HOUSE', 'Custom House', 53.348279, -6.254662, False, False, 30, 'OPEN')



2023-03-03 15:07:52,753 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,757 INFO sqlalchemy.engine.Engine [raw sql] (23, 'dublin', 'CUSTOM HOUSE', 'Custom House', 53.348279, -6.254662, False, False, 30, 'OPEN')
2023-03-03 15:07:52,767 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677855871000}



VALS:(106, 'dublin', 'RATHDOWN ROAD', 'Rathdown Road', 53.35893, -6.280337, False, False, 40, 'OPEN')



2023-03-03 15:07:52,794 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,797 INFO sqlalchemy.engine.Engine [raw sql] (106, 'dublin', 'RATHDOWN ROAD', 'Rathdown Road', 53.35893, -6.280337, False, False, 40, 'OPEN')
2023-03-03 15:07:52,808 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 24, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855799000}



VALS:(112, 'dublin', "NORTH CIRCULAR ROAD (O'CONNELL'S)", "North Circular Road (O'Connell's)", 53.357841, -6.251557, False, False, 30, 'OPEN')



2023-03-03 15:07:52,826 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,829 INFO sqlalchemy.engine.Engine [raw sql] (112, 'dublin', "NORTH CIRCULAR ROAD (O'CONNELL'S)", "North Circular Road (O'Connell's)", 53.357841, -6.251557, False, False, 30, 'OPEN')
2023-03-03 15:07:52,841 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677855926000}



VALS:(68, 'dublin', 'HANOVER QUAY', 'Hanover Quay', 53.344115, -6.237153, False, False, 40, 'OPEN')



2023-03-03 15:07:52,859 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,860 INFO sqlalchemy.engine.Engine [raw sql] (68, 'dublin', 'HANOVER QUAY', 'Hanover Quay', 53.344115, -6.237153, False, False, 40, 'OPEN')
2023-03-03 15:07:52,867 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 23, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677855671000}



VALS:(74, 'dublin', 'OLIVER BOND STREET', 'Oliver Bond Street', 53.343893, -6.280531, False, False, 30, 'OPEN')



2023-03-03 15:07:52,888 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,894 INFO sqlalchemy.engine.Engine [raw sql] (74, 'dublin', 'OLIVER BOND STREET', 'Oliver Bond Street', 53.343893, -6.280531, False, False, 30, 'OPEN')
2023-03-03 15:07:52,905 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 25, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677856049000}



VALS:(87, 'dublin', 'COLLINS BARRACKS MUSEUM', 'Collins Barracks Museum', 53.347477, -6.28525, False, False, 38, 'OPEN')



2023-03-03 15:07:52,924 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-03 15:07:52,924 INFO sqlalchemy.engine.Engine [raw sql] (87, 'dublin', 'COLLINS BARRACKS MUSEUM', 'Collins Barracks Museum', 53.347477, -6.28525, False, False, 38, 'OPEN')
2023-03-03 15:07:52,929 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 10, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677855473000}



VALS:(84, 'dublin', 'BROOKFIELD ROAD', 'Brookfield Road', 53.339005, -6.300217, False, False, 30, 'OPEN')



2023-03-03 15:07:52,948 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:52,949 INFO sqlalchemy.engine.Engine [raw sql] (84, 'dublin', 'BROOKFIELD ROAD', 'Brookfield Road', 53.339005, -6.300217, False, False, 30, 'OPEN')
2023-03-03 15:07:52,992 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 3, 'available_bikes': 37, 'status': 'OPEN', 'last_update': 1677855471000}



VALS:(90, 'dublin', 'BENSON STREET', 'Benson Street', 53.344153, -6.233451, False, False, 40, 'OPEN')



2023-03-03 15:07:53,018 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,020 INFO sqlalchemy.engine.Engine [raw sql] (90, 'dublin', 'BENSON STREET', 'Benson Street', 53.344153, -6.233451, False, False, 40, 'OPEN')
2023-03-03 15:07:53,029 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 13, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677855790000}



VALS:(11, 'dublin', 'EARLSFORT TERRACE', 'Earlsfort Terrace', 53.334295, -6.258503, False, False, 30, 'OPEN')



2023-03-03 15:07:53,066 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,067 INFO sqlalchemy.engine.Engine [raw sql] (11, 'dublin', 'EARLSFORT TERRACE', 'Earlsfort Terrace', 53.334295, -6.258503, False, False, 30, 'OPEN')
2023-03-03 15:07:53,077 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677855716000}



VALS:(17, 'dublin', 'GOLDEN LANE', 'Golden Lane', 53.340803, -6.267732, False, False, 20, 'OPEN')



2023-03-03 15:07:53,093 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,093 INFO sqlalchemy.engine.Engine [raw sql] (17, 'dublin', 'GOLDEN LANE', 'Golden Lane', 53.340803, -6.267732, False, False, 20, 'OPEN')
2023-03-03 15:07:53,098 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677855853000}



VALS:(45, 'dublin', 'DEVERELL PLACE', 'Deverell Place', 53.351464, -6.255265, False, False, 30, 'OPEN')



2023-03-03 15:07:53,114 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,114 INFO sqlalchemy.engine.Engine [raw sql] (45, 'dublin', 'DEVERELL PLACE', 'Deverell Place', 53.351464, -6.255265, False, False, 30, 'OPEN')
2023-03-03 15:07:53,120 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 6, 'available_bikes': 34, 'status': 'OPEN', 'last_update': 1677855857000}



VALS:(114, 'dublin', 'WILTON TERRACE (PARK)', 'Wilton Terrace (Park)', 53.333653, -6.248345, False, False, 40, 'OPEN')



2023-03-03 15:07:53,136 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,137 INFO sqlalchemy.engine.Engine [raw sql] (114, 'dublin', 'WILTON TERRACE (PARK)', 'Wilton Terrace (Park)', 53.333653, -6.248345, False, False, 40, 'OPEN')
2023-03-03 15:07:53,143 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 14, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677855461000}



VALS:(72, 'dublin', 'JOHN STREET WEST', 'John Street West', 53.343105, -6.277167, False, False, 31, 'OPEN')



2023-03-03 15:07:53,160 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,162 INFO sqlalchemy.engine.Engine [raw sql] (72, 'dublin', 'JOHN STREET WEST', 'John Street West', 53.343105, -6.277167, False, False, 31, 'OPEN')
2023-03-03 15:07:53,174 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 24, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677856031000}



VALS:(63, 'dublin', 'FENIAN STREET', 'Fenian Street', 53.341428, -6.24672, False, False, 35, 'OPEN')



2023-03-03 15:07:53,192 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,193 INFO sqlalchemy.engine.Engine [raw sql] (63, 'dublin', 'FENIAN STREET', 'Fenian Street', 53.341428, -6.24672, False, False, 35, 'OPEN')
2023-03-03 15:07:53,199 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677855559000}



VALS:(113, 'dublin', 'MERRION SQUARE SOUTH', 'Merrion Square South', 53.338614, -6.248606, False, False, 40, 'OPEN')



2023-03-03 15:07:53,214 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,214 INFO sqlalchemy.engine.Engine [raw sql] (113, 'dublin', 'MERRION SQUARE SOUTH', 'Merrion Square South', 53.338614, -6.248606, False, False, 40, 'OPEN')
2023-03-03 15:07:53,221 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 8, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677855636000}



VALS:(91, 'dublin', 'SOUTH DOCK ROAD', 'South Dock Road', 53.341833, -6.231291, False, False, 30, 'OPEN')



2023-03-03 15:07:53,241 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,242 INFO sqlalchemy.engine.Engine [raw sql] (91, 'dublin', 'SOUTH DOCK ROAD', 'South Dock Road', 53.341833, -6.231291, False, False, 30, 'OPEN')
2023-03-03 15:07:53,248 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677855912000}



VALS:(99, 'dublin', 'CITY QUAY', 'City Quay', 53.346637, -6.246154, False, False, 30, 'OPEN')



2023-03-03 15:07:53,264 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-03 15:07:53,265 INFO sqlalchemy.engine.Engine [raw sql] (99, 'dublin', 'CITY QUAY', 'City Quay', 53.346637, -6.246154, False, False, 30, 'OPEN')
2023-03-03 15:07:53,272 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 13, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855879000}



VALS:(9, 'dublin', 'EXCHEQUER STREET', 'Exchequer Street', 53.343034, -6.263578, False, False, 24, 'OPEN')



2023-03-03 15:07:53,290 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,290 INFO sqlalchemy.engine.Engine [raw sql] (9, 'dublin', 'EXCHEQUER STREET', 'Exchequer Street', 53.343034, -6.263578, False, False, 24, 'OPEN')
2023-03-03 15:07:53,297 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855939000}



VALS:(67, 'dublin', 'THE POINT', 'The Point', 53.346867, -6.230852, False, False, 40, 'OPEN')



2023-03-03 15:07:53,314 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,315 INFO sqlalchemy.engine.Engine [raw sql] (67, 'dublin', 'THE POINT', 'The Point', 53.346867, -6.230852, False, False, 40, 'OPEN')
2023-03-03 15:07:53,321 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677855599000}



VALS:(116, 'dublin', 'BROADSTONE', 'Broadstone', 53.3547, -6.272314, False, False, 30, 'OPEN')



2023-03-03 15:07:53,337 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,338 INFO sqlalchemy.engine.Engine [raw sql] (116, 'dublin', 'BROADSTONE', 'Broadstone', 53.3547, -6.272314, False, False, 30, 'OPEN')
2023-03-03 15:07:53,344 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 29, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677855847000}



VALS:(55, 'dublin', 'HATCH STREET', 'Hatch Street', 53.33403, -6.260714, False, False, 36, 'OPEN')



2023-03-03 15:07:53,367 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,369 INFO sqlalchemy.engine.Engine [raw sql] (55, 'dublin', 'HATCH STREET', 'Hatch Street', 53.33403, -6.260714, False, False, 36, 'OPEN')
2023-03-03 15:07:53,376 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855769000}



VALS:(62, 'dublin', 'LIME STREET', 'Lime Street', 53.346026, -6.243576, False, False, 40, 'OPEN')



2023-03-03 15:07:53,394 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,395 INFO sqlalchemy.engine.Engine [raw sql] (62, 'dublin', 'LIME STREET', 'Lime Street', 53.346026, -6.243576, False, False, 40, 'OPEN')
2023-03-03 15:07:53,401 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677856014000}



VALS:(5, 'dublin', 'CHARLEMONT PLACE', 'Charlemont Street', 53.330662, -6.260177, False, False, 40, 'OPEN')



2023-03-03 15:07:53,419 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,420 INFO sqlalchemy.engine.Engine [raw sql] (5, 'dublin', 'CHARLEMONT PLACE', 'Charlemont Street', 53.330662, -6.260177, False, False, 40, 'OPEN')
2023-03-03 15:07:53,428 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677855742000}



VALS:(97, 'dublin', 'KILMAINHAM GAOL', 'Kilmainham Gaol', 53.342113, -6.310015, False, False, 40, 'OPEN')



2023-03-03 15:07:53,443 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,443 INFO sqlalchemy.engine.Engine [raw sql] (97, 'dublin', 'KILMAINHAM GAOL', 'Kilmainham Gaol', 53.342113, -6.310015, False, False, 40, 'OPEN')
2023-03-03 15:07:53,452 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 25, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677855799000}



VALS:(61, 'dublin', 'HARDWICKE PLACE', 'Hardwicke Place', 53.357043, -6.263232, False, False, 25, 'OPEN')



2023-03-03 15:07:53,470 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,471 INFO sqlalchemy.engine.Engine [raw sql] (61, 'dublin', 'HARDWICKE PLACE', 'Hardwicke Place', 53.357043, -6.263232, False, False, 25, 'OPEN')
2023-03-03 15:07:53,476 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677855499000}



VALS:(77, 'dublin', 'WOLFE TONE STREET', 'Wolfe Tone Street', 53.348875, -6.267459, False, False, 29, 'OPEN')



2023-03-03 15:07:53,494 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,494 INFO sqlalchemy.engine.Engine [raw sql] (77, 'dublin', 'WOLFE TONE STREET', 'Wolfe Tone Street', 53.348875, -6.267459, False, False, 29, 'OPEN')
2023-03-03 15:07:53,502 INFO sqlalchemy.engine.Engine COMMIT
{'number': 73, 'contract_name': 'dublin', 'name': 'FRANCIS STREET', 'address': 'Francis Street', 'position': {'lat': 53.342081, 'lng': -6.275233}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677855922000}



VALS:(73, 'dublin', 'FRANCIS STREET', 'Francis Street', 53.342081, -6.275233, False, False, 30, 'OPEN')



2023-03-03 15:07:53,518 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,519 INFO sqlalchemy.engine.Engine [raw sql] (73, 'dublin', 'FRANCIS STREET', 'Francis Street', 53.342081, -6.275233, False, False, 30, 'OPEN')
2023-03-03 15:07:53,525 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 11, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677855565000}



VALS:(4, 'dublin', 'GREEK STREET', 'Greek Street', 53.346874, -6.272976, False, False, 20, 'OPEN')



2023-03-03 15:07:53,542 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-03 15:07:53,543 INFO sqlalchemy.engine.Engine [raw sql] (4, 'dublin', 'GREEK STREET', 'Greek Street', 53.346874, -6.272976, False, False, 20, 'OPEN')
2023-03-03 15:07:53,551 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855684000}



VALS:(49, 'dublin', 'GUILD STREET', 'Guild Street', 53.347932, -6.240928, False, False, 40, 'OPEN')



2023-03-03 15:07:53,568 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,569 INFO sqlalchemy.engine.Engine [raw sql] (49, 'dublin', 'GUILD STREET', 'Guild Street', 53.347932, -6.240928, False, False, 40, 'OPEN')
2023-03-03 15:07:53,578 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677856005000}



VALS:(19, 'dublin', 'HERBERT PLACE', 'Herbert Place', 53.334432, -6.245575, False, False, 30, 'OPEN')



2023-03-03 15:07:53,598 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,602 INFO sqlalchemy.engine.Engine [raw sql] (19, 'dublin', 'HERBERT PLACE', 'Herbert Place', 53.334432, -6.245575, False, False, 30, 'OPEN')
2023-03-03 15:07:53,615 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 17, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855881000}



VALS:(7, 'dublin', 'HIGH STREET', 'High Street', 53.343565, -6.275071, False, False, 29, 'OPEN')



2023-03-03 15:07:53,634 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,634 INFO sqlalchemy.engine.Engine [raw sql] (7, 'dublin', 'HIGH STREET', 'High Street', 53.343565, -6.275071, False, False, 29, 'OPEN')
2023-03-03 15:07:53,642 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 23, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677855599000}



VALS:(60, 'dublin', 'NORTH CIRCULAR ROAD', 'North Circular Road', 53.359624, -6.260348, False, False, 30, 'OPEN')



2023-03-03 15:07:53,659 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,659 INFO sqlalchemy.engine.Engine [raw sql] (60, 'dublin', 'NORTH CIRCULAR ROAD', 'North Circular Road', 53.359624, -6.260348, False, False, 30, 'OPEN')
2023-03-03 15:07:53,665 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677856055000}



VALS:(102, 'dublin', 'WESTERN WAY', 'Western Way', 53.354929, -6.269425, False, False, 40, 'OPEN')



2023-03-03 15:07:53,681 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,682 INFO sqlalchemy.engine.Engine [raw sql] (102, 'dublin', 'WESTERN WAY', 'Western Way', 53.354929, -6.269425, False, False, 40, 'OPEN')
2023-03-03 15:07:53,688 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677856054000}



VALS:(38, 'dublin', 'TALBOT STREET', 'Talbot Street', 53.350974, -6.25294, False, False, 40, 'OPEN')



2023-03-03 15:07:53,706 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,706 INFO sqlalchemy.engine.Engine [raw sql] (38, 'dublin', 'TALBOT STREET', 'Talbot Street', 53.350974, -6.25294, False, False, 40, 'OPEN')
2023-03-03 15:07:53,714 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677856030000}



VALS:(53, 'dublin', 'NEWMAN HOUSE', 'Newman House', 53.337132, -6.26059, False, False, 40, 'OPEN')



2023-03-03 15:07:53,731 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,732 INFO sqlalchemy.engine.Engine [raw sql] (53, 'dublin', 'NEWMAN HOUSE', 'Newman House', 53.337132, -6.26059, False, False, 40, 'OPEN')
2023-03-03 15:07:53,740 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 12, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677855943000}



VALS:(58, 'dublin', "SIR PATRICK DUN'S", "Sir Patrick's Dun", 53.339218, -6.240642, False, False, 40, 'OPEN')



2023-03-03 15:07:53,755 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,756 INFO sqlalchemy.engine.Engine [raw sql] (58, 'dublin', "SIR PATRICK DUN'S", "Sir Patrick's Dun", 53.339218, -6.240642, False, False, 40, 'OPEN')
2023-03-03 15:07:53,763 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677855791000}



VALS:(66, 'dublin', 'NEW CENTRAL BANK', 'New Central Bank', 53.347122, -6.234749, False, False, 40, 'OPEN')



2023-03-03 15:07:53,780 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,780 INFO sqlalchemy.engine.Engine [raw sql] (66, 'dublin', 'NEW CENTRAL BANK', 'New Central Bank', 53.347122, -6.234749, False, False, 40, 'OPEN')
2023-03-03 15:07:53,785 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855709000}



VALS:(104, 'dublin', 'GRANGEGORMAN LOWER (CENTRAL)', 'Grangegorman Lower (Central)', 53.355173, -6.278424, False, False, 40, 'OPEN')



2023-03-03 15:07:53,802 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,803 INFO sqlalchemy.engine.Engine [raw sql] (104, 'dublin', 'GRANGEGORMAN LOWER (CENTRAL)', 'Grangegorman Lower (Central)', 53.355173, -6.278424, False, False, 40, 'OPEN')
2023-03-03 15:07:53,810 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677856023000}



VALS:(101, 'dublin', 'KING STREET NORTH', 'King Street North', 53.350291, -6.273507, False, False, 30, 'OPEN')



2023-03-03 15:07:53,825 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-03 15:07:53,826 INFO sqlalchemy.engine.Engine [raw sql] (101, 'dublin', 'KING STREET NORTH', 'King Street North', 53.350291, -6.273507, False, False, 30, 'OPEN')
2023-03-03 15:07:53,833 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677855953000}



VALS:(115, 'dublin', 'KILLARNEY STREET', 'Killarney Street', 53.354845, -6.247579, False, False, 30, 'OPEN')



2023-03-03 15:07:53,849 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,850 INFO sqlalchemy.engine.Engine [raw sql] (115, 'dublin', 'KILLARNEY STREET', 'Killarney Street', 53.354845, -6.247579, False, False, 30, 'OPEN')
2023-03-03 15:07:53,856 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677855557000}



VALS:(47, 'dublin', 'HERBERT STREET', 'Herbert Street', 53.335742, -6.24551, False, False, 40, 'OPEN')



2023-03-03 15:07:53,872 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,873 INFO sqlalchemy.engine.Engine [raw sql] (47, 'dublin', 'HERBERT STREET', 'Herbert Street', 53.335742, -6.24551, False, False, 40, 'OPEN')
2023-03-03 15:07:53,880 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677856061000}



VALS:(117, 'dublin', 'HANOVER QUAY EAST', 'Hanover Quay East', 53.343653, -6.231755, False, False, 40, 'OPEN')



2023-03-03 15:07:53,898 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,898 INFO sqlalchemy.engine.Engine [raw sql] (117, 'dublin', 'HANOVER QUAY EAST', 'Hanover Quay East', 53.343653, -6.231755, False, False, 40, 'OPEN')
2023-03-03 15:07:53,905 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 23, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677856059000}



VALS:(8, 'dublin', 'CUSTOM HOUSE QUAY', 'Custom House Quay', 53.347884, -6.248048, False, False, 30, 'OPEN')



2023-03-03 15:07:53,923 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,923 INFO sqlalchemy.engine.Engine [raw sql] (8, 'dublin', 'CUSTOM HOUSE QUAY', 'Custom House Quay', 53.347884, -6.248048, False, False, 30, 'OPEN')
2023-03-03 15:07:53,928 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 5, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677855987000}



VALS:(27, 'dublin', 'MOLESWORTH STREET', 'Molesworth Street', 53.341288, -6.258117, False, False, 20, 'OPEN')



2023-03-03 15:07:53,943 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,944 INFO sqlalchemy.engine.Engine [raw sql] (27, 'dublin', 'MOLESWORTH STREET', 'Molesworth Street', 53.341288, -6.258117, False, False, 20, 'OPEN')
2023-03-03 15:07:53,949 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855479000}



VALS:(16, 'dublin', 'GEORGES QUAY', 'Georges Quay', 53.347508, -6.252192, False, False, 20, 'OPEN')



2023-03-03 15:07:53,967 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,968 INFO sqlalchemy.engine.Engine [raw sql] (16, 'dublin', 'GEORGES QUAY', 'Georges Quay', 53.347508, -6.252192, False, False, 20, 'OPEN')
2023-03-03 15:07:53,974 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 24, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855466000}



VALS:(96, 'dublin', 'KILMAINHAM LANE', 'Kilmainham Lane', 53.341805, -6.305085, False, False, 30, 'OPEN')



2023-03-03 15:07:53,989 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:53,989 INFO sqlalchemy.engine.Engine [raw sql] (96, 'dublin', 'KILMAINHAM LANE', 'Kilmainham Lane', 53.341805, -6.305085, False, False, 30, 'OPEN')
2023-03-03 15:07:53,994 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 8, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677855645000}



VALS:(82, 'dublin', 'MOUNT BROWN', 'Mount Brown', 53.341645, -6.29719, False, False, 22, 'OPEN')



2023-03-03 15:07:54,011 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,011 INFO sqlalchemy.engine.Engine [raw sql] (82, 'dublin', 'MOUNT BROWN', 'Mount Brown', 53.341645, -6.29719, False, False, 22, 'OPEN')
2023-03-03 15:07:54,017 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 27, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855610000}



VALS:(76, 'dublin', 'MARKET STREET SOUTH', 'Market Street South', 53.342296, -6.287661, False, False, 38, 'OPEN')



2023-03-03 15:07:54,032 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,033 INFO sqlalchemy.engine.Engine [raw sql] (76, 'dublin', 'MARKET STREET SOUTH', 'Market Street South', 53.342296, -6.287661, False, False, 38, 'OPEN')
2023-03-03 15:07:54,039 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 34, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855727000}



VALS:(71, 'dublin', 'KEVIN STREET', 'Kevin Street', 53.337757, -6.267699, False, False, 40, 'OPEN')



2023-03-03 15:07:54,055 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,056 INFO sqlalchemy.engine.Engine [raw sql] (71, 'dublin', 'KEVIN STREET', 'Kevin Street', 53.337757, -6.267699, False, False, 40, 'OPEN')
2023-03-03 15:07:54,063 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 22, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677855475000}



VALS:(79, 'dublin', 'ECCLES STREET EAST', 'Eccles Street East', 53.358115, -6.265601, False, False, 27, 'OPEN')



2023-03-03 15:07:54,078 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-03 15:07:54,079 INFO sqlalchemy.engine.Engine [raw sql] (79, 'dublin', 'ECCLES STREET EAST', 'Eccles Street East', 53.358115, -6.265601, False, False, 27, 'OPEN')
2023-03-03 15:07:54,085 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677856038000}



VALS:(69, 'dublin', 'GRAND CANAL DOCK', 'Grand Canal Dock', 53.342638, -6.238695, False, False, 40, 'OPEN')



2023-03-03 15:07:54,106 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,107 INFO sqlalchemy.engine.Engine [raw sql] (69, 'dublin', 'GRAND CANAL DOCK', 'Grand Canal Dock', 53.342638, -6.238695, False, False, 40, 'OPEN')
2023-03-03 15:07:54,113 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855841000}



VALS:(25, 'dublin', 'MERRION SQUARE EAST', 'Merrion Square East', 53.339434, -6.246548, False, False, 30, 'OPEN')



2023-03-03 15:07:54,130 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,130 INFO sqlalchemy.engine.Engine [raw sql] (25, 'dublin', 'MERRION SQUARE EAST', 'Merrion Square East', 53.339434, -6.246548, False, False, 30, 'OPEN')
2023-03-03 15:07:54,137 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677855770000}



VALS:(51, 'dublin', 'YORK STREET WEST', 'York Street West', 53.339334, -6.264699, False, False, 40, 'OPEN')



2023-03-03 15:07:54,155 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,156 INFO sqlalchemy.engine.Engine [raw sql] (51, 'dublin', 'YORK STREET WEST', 'York Street West', 53.339334, -6.264699, False, False, 40, 'OPEN')
2023-03-03 15:07:54,162 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 24, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855523000}



VALS:(37, 'dublin', "ST. STEPHEN'S GREEN SOUTH", "St. Stephen's Green South", 53.337494, -6.26199, True, False, 30, 'OPEN')



2023-03-03 15:07:54,179 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,180 INFO sqlalchemy.engine.Engine [raw sql] (37, 'dublin', "ST. STEPHEN'S GREEN SOUTH", "St. Stephen's Green South", 53.337494, -6.26199, True, False, 30, 'OPEN')
2023-03-03 15:07:54,185 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 6, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677856062000}



VALS:(59, 'dublin', 'DENMARK STREET GREAT', 'Denmark Street Great', 53.35561, -6.261397, False, False, 20, 'OPEN')



2023-03-03 15:07:54,201 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,202 INFO sqlalchemy.engine.Engine [raw sql] (59, 'dublin', 'DENMARK STREET GREAT', 'Denmark Street Great', 53.35561, -6.261397, False, False, 20, 'OPEN')
2023-03-03 15:07:54,208 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677855676000}



VALS:(95, 'dublin', 'ROYAL HOSPITAL', 'Royal Hospital', 53.343897, -6.29706, False, False, 40, 'OPEN')



2023-03-03 15:07:54,225 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,225 INFO sqlalchemy.engine.Engine [raw sql] (95, 'dublin', 'ROYAL HOSPITAL', 'Royal Hospital', 53.343897, -6.29706, False, False, 40, 'OPEN')
2023-03-03 15:07:54,231 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677855532000}



VALS:(94, 'dublin', 'HEUSTON STATION (CAR PARK)', 'Heuston Station (Car Park)', 53.346985, -6.297804, False, False, 40, 'OPEN')



2023-03-03 15:07:54,247 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,248 INFO sqlalchemy.engine.Engine [raw sql] (94, 'dublin', 'HEUSTON STATION (CAR PARK)', 'Heuston Station (Car Park)', 53.346985, -6.297804, False, False, 40, 'OPEN')
2023-03-03 15:07:54,253 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 20, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677856004000}



VALS:(105, 'dublin', 'GRANGEGORMAN LOWER (NORTH)', 'Grangegorman Lower (North)', 53.355954, -6.278378, False, False, 36, 'OPEN')



2023-03-03 15:07:54,271 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,272 INFO sqlalchemy.engine.Engine [raw sql] (105, 'dublin', 'GRANGEGORMAN LOWER (NORTH)', 'Grangegorman Lower (North)', 53.355954, -6.278378, False, False, 36, 'OPEN')
2023-03-03 15:07:54,278 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 25, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677855976000}



VALS:(36, 'dublin', "ST. STEPHEN'S GREEN EAST", "St. Stephen's Green East", 53.337824, -6.256035, False, False, 40, 'OPEN')



2023-03-03 15:07:54,295 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,296 INFO sqlalchemy.engine.Engine [raw sql] (36, 'dublin', "ST. STEPHEN'S GREEN EAST", "St. Stephen's Green East", 53.337824, -6.256035, False, False, 40, 'OPEN')
2023-03-03 15:07:54,301 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677856009000}



VALS:(93, 'dublin', 'HEUSTON STATION (CENTRAL)', 'Heuston Station (Central)', 53.346603, -6.296924, False, False, 40, 'OPEN')



2023-03-03 15:07:54,321 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,321 INFO sqlalchemy.engine.Engine [raw sql] (93, 'dublin', 'HEUSTON STATION (CENTRAL)', 'Heuston Station (Central)', 53.346603, -6.296924, False, False, 40, 'OPEN')
2023-03-03 15:07:54,328 INFO sqlalchemy.engine.Engine COMMIT

{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 9, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677855623000}



VALS:(22, 'dublin', 'TOWNSEND STREET', 'Townsend Street', 53.345922, -6.254614, False, False, 20, 'OPEN')



2023-03-03 15:07:54,344 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,345 INFO sqlalchemy.engine.Engine [raw sql] (22, 'dublin', 'TOWNSEND STREET', 'Townsend Street', 53.345922, -6.254614, False, False, 20, 'OPEN')
2023-03-03 15:07:54,351 INFO sqlalchemy.engine.Engine COMMIT
{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677856054000}



VALS:(50, 'dublin', 'GEORGES LANE', "George's Lane", 53.35023, -6.279696, False, False, 40, 'OPEN')



2023-03-03 15:07:54,368 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,368 INFO sqlalchemy.engine.Engine [raw sql] (50, 'dublin', 'GEORGES LANE', "George's Lane", 53.35023, -6.279696, False, False, 40, 'OPEN')
2023-03-03 15:07:54,373 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677855778000}



VALS:(110, 'dublin', 'PHIBSBOROUGH ROAD', 'Phibsborough Road', 53.356307, -6.273717, False, False, 40, 'OPEN')



2023-03-03 15:07:54,392 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,393 INFO sqlalchemy.engine.Engine [raw sql] (110, 'dublin', 'PHIBSBOROUGH ROAD', 'Phibsborough Road', 53.356307, -6.273717, False, False, 40, 'OPEN')
2023-03-03 15:07:54,398 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 11, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677855826000}



VALS:(12, 'dublin', 'ECCLES STREET', 'Eccles Street', 53.359246, -6.269779, False, False, 20, 'OPEN')



2023-03-03 15:07:54,412 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,412 INFO sqlalchemy.engine.Engine [raw sql] (12, 'dublin', 'ECCLES STREET', 'Eccles Street', 53.359246, -6.269779, False, False, 20, 'OPEN')
2023-03-03 15:07:54,420 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 24, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855664000}



VALS:(34, 'dublin', 'PORTOBELLO HARBOUR', 'Portobello Harbour', 53.330362, -6.265163, False, False, 30, 'OPEN')



2023-03-03 15:07:54,436 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,436 INFO sqlalchemy.engine.Engine [raw sql] (34, 'dublin', 'PORTOBELLO HARBOUR', 'Portobello Harbour', 53.330362, -6.265163, False, False, 30, 'OPEN')
2023-03-03 15:07:54,443 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677855923000}



VALS:(78, 'dublin', 'MATER HOSPITAL', 'Mater Hospital', 53.359967, -6.264828, False, False, 40, 'OPEN')



2023-03-03 15:07:54,456 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,457 INFO sqlalchemy.engine.Engine [raw sql] (78, 'dublin', 'MATER HOSPITAL', 'Mater Hospital', 53.359967, -6.264828, False, False, 40, 'OPEN')
2023-03-03 15:07:54,463 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 16, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677855990000}



VALS:(2, 'dublin', 'BLESSINGTON STREET', 'Blessington Street', 53.356769, -6.26814, False, False, 20, 'OPEN')



2023-03-03 15:07:54,478 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,478 INFO sqlalchemy.engine.Engine [raw sql] (2, 'dublin', 'BLESSINGTON STREET', 'Blessington Street', 53.356769, -6.26814, False, False, 20, 'OPEN')
2023-03-03 15:07:54,484 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677856028000}



VALS:(75, 'dublin', 'JAMES STREET', 'James Street', 53.343456, -6.287409, False, False, 40, 'OPEN')



2023-03-03 15:07:54,502 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,503 INFO sqlalchemy.engine.Engine [raw sql] (75, 'dublin', 'JAMES STREET', 'James Street', 53.343456, -6.287409, False, False, 40, 'OPEN')
2023-03-03 15:07:54,509 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}



VALS:(507, 'dublin', 'ORIEL STREET TEST TERMINAL', 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 53.35463, -6.242615, False, False, 1, 'OPEN')



2023-03-03 15:07:54,523 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,524 INFO sqlalchemy.engine.Engine [raw sql] (507, 'dublin', 'ORIEL STREET TEST TERMINAL', 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 53.35463, -6.242615, False, False, 1, 'OPEN')
2023-03-03 15:07:54,531 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677855799000}



VALS:(111, 'dublin', 'MOUNTJOY SQUARE EAST', 'Mountjoy Square East', 53.356717, -6.256359, False, False, 40, 'OPEN')



2023-03-03 15:07:54,546 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,547 INFO sqlalchemy.engine.Engine [raw sql] (111, 'dublin', 'MOUNTJOY SQUARE EAST', 'Mountjoy Square East', 53.356717, -6.256359, False, False, 40, 'OPEN')
2023-03-03 15:07:54,553 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 7, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677855984000}



VALS:(26, 'dublin', 'MERRION SQUARE WEST', 'Merrion Square West', 53.339764, -6.251988, True, False, 20, 'OPEN')



2023-03-03 15:07:54,570 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-03 15:07:54,571 INFO sqlalchemy.engine.Engine [raw sql] (26, 'dublin', 'MERRION SQUARE WEST', 'Merrion Square West', 53.339764, -6.251988, True, False, 20, 'OPEN')
2023-03-03 15:07:54,576 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677855684000}



VALS:(65, 'dublin', 'CONVENTION CENTRE', 'Convention Centre', 53.34744, -6.238523, True, False, 40, 'OPEN')



2023-03-03 15:07:54,596 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,596 INFO sqlalchemy.engine.Engine [raw sql] (65, 'dublin', 'CONVENTION CENTRE', 'Convention Centre', 53.34744, -6.238523, True, False, 40, 'OPEN')
2023-03-03 15:07:54,603 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 10, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677855791000}



VALS:(15, 'dublin', 'HARDWICKE STREET', 'Hardwicke Street', 53.355473, -6.264423, False, False, 16, 'OPEN')



2023-03-03 15:07:54,617 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,618 INFO sqlalchemy.engine.Engine [raw sql] (15, 'dublin', 'HARDWICKE STREET', 'Hardwicke Street', 53.355473, -6.264423, False, False, 16, 'OPEN')
2023-03-03 15:07:54,625 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 9, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677855933000}



VALS:(86, 'dublin', 'PARKGATE STREET', 'Parkgate Street', 53.347972, -6.291804, False, False, 38, 'OPEN')



2023-03-03 15:07:54,640 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,640 INFO sqlalchemy.engine.Engine [raw sql] (86, 'dublin', 'PARKGATE STREET', 'Parkgate Street', 53.347972, -6.291804, False, False, 38, 'OPEN')
2023-03-03 15:07:54,646 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 26, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677855709000}



VALS:(35, 'dublin', 'SMITHFIELD', 'Smithfield', 53.347692, -6.278214, False, False, 30, 'OPEN')



2023-03-03 15:07:54,663 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,664 INFO sqlalchemy.engine.Engine [raw sql] (35, 'dublin', 'SMITHFIELD', 'Smithfield', 53.347692, -6.278214, False, False, 30, 'OPEN')
2023-03-03 15:07:54,669 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 16, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677855896000}



VALS:(10, 'dublin', 'DAME STREET', 'Dame Street', 53.344007, -6.266802, True, False, 16, 'OPEN')



2023-03-03 15:07:54,687 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,688 INFO sqlalchemy.engine.Engine [raw sql] (10, 'dublin', 'DAME STREET', 'Dame Street', 53.344007, -6.266802, True, False, 16, 'OPEN')
2023-03-03 15:07:54,694 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 6, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677855463000}



VALS:(100, 'dublin', 'HEUSTON BRIDGE (SOUTH)', 'Heuston Bridge (South)', 53.347106, -6.292041, False, False, 25, 'OPEN')



2023-03-03 15:07:54,711 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,711 INFO sqlalchemy.engine.Engine [raw sql] (100, 'dublin', 'HEUSTON BRIDGE (SOUTH)', 'Heuston Bridge (South)', 53.347106, -6.292041, False, False, 25, 'OPEN')
2023-03-03 15:07:54,717 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677855974000}



VALS:(24, 'dublin', 'CATHAL BRUGHA STREET', 'Cathal Brugha Street', 53.352149, -6.260533, False, False, 20, 'OPEN')



2023-03-03 15:07:54,736 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,736 INFO sqlalchemy.engine.Engine [raw sql] (24, 'dublin', 'CATHAL BRUGHA STREET', 'Cathal Brugha Street', 53.352149, -6.260533, False, False, 20, 'OPEN')
2023-03-03 15:07:54,744 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677856023000}



VALS:(64, 'dublin', 'SANDWITH STREET', 'Sandwith Street', 53.345203, -6.247163, False, False, 40, 'OPEN')



2023-03-03 15:07:54,761 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,761 INFO sqlalchemy.engine.Engine [raw sql] (64, 'dublin', 'SANDWITH STREET', 'Sandwith Street', 53.345203, -6.247163, False, False, 40, 'OPEN')
2023-03-03 15:07:54,768 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 16, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677856020000}



VALS:(109, 'dublin', 'BUCKINGHAM STREET LOWER', 'Buckingham Street Lower', 53.353331, -6.249319, False, False, 29, 'OPEN')



2023-03-03 15:07:54,783 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,783 INFO sqlalchemy.engine.Engine [raw sql] (109, 'dublin', 'BUCKINGHAM STREET LOWER', 'Buckingham Street Lower', 53.353331, -6.249319, False, False, 29, 'OPEN')
2023-03-03 15:07:54,790 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 26, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677855939000}



VALS:(85, 'dublin', 'ROTHE ABBEY', 'Rothe Abbey', 53.338776, -6.30395, False, False, 35, 'OPEN')



2023-03-03 15:07:54,810 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,812 INFO sqlalchemy.engine.Engine [raw sql] (85, 'dublin', 'ROTHE ABBEY', 'Rothe Abbey', 53.338776, -6.30395, False, False, 35, 'OPEN')
2023-03-03 15:07:54,820 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677855783000}



VALS:(107, 'dublin', 'CHARLEVILLE ROAD', 'Charleville Road', 53.359157, -6.281866, False, False, 40, 'OPEN')



2023-03-03 15:07:54,833 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-03 15:07:54,833 INFO sqlalchemy.engine.Engine [raw sql] (107, 'dublin', 'CHARLEVILLE ROAD', 'Charleville Road', 53.359157, -6.281866, False, False, 40, 'OPEN')
2023-03-03 15:07:54,840 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 21, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677855545000}



VALS:(33, 'dublin', "PRINCES STREET / O'CONNELL STREET", "Princes Street / O'Connell Street", 53.349013, -6.260311, True, False, 23, 'OPEN')



2023-03-03 15:07:54,855 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,856 INFO sqlalchemy.engine.Engine [raw sql] (33, 'dublin', "PRINCES STREET / O'CONNELL STREET", "Princes Street / O'Connell Street", 53.349013, -6.260311, True, False, 23, 'OPEN')
2023-03-03 15:07:54,863 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677855920000}



VALS:(44, 'dublin', 'UPPER SHERRARD STREET', 'Upper Sherrard Street', 53.358437, -6.260641, False, False, 30, 'OPEN')



2023-03-03 15:07:54,878 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,879 INFO sqlalchemy.engine.Engine [raw sql] (44, 'dublin', 'UPPER SHERRARD STREET', 'Upper Sherrard Street', 53.358437, -6.260641, False, False, 30, 'OPEN')
2023-03-03 15:07:54,887 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 31, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677855710000}



VALS:(89, 'dublin', 'FITZWILLIAM SQUARE EAST', 'Fitzwilliam Square East', 53.335211, -6.2509, False, False, 40, 'OPEN')



2023-03-03 15:07:54,903 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,903 INFO sqlalchemy.engine.Engine [raw sql] (89, 'dublin', 'FITZWILLIAM SQUARE EAST', 'Fitzwilliam Square East', 53.335211, -6.2509, False, False, 40, 'OPEN')
2023-03-03 15:07:54,910 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 21, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677855715000}



VALS:(57, 'dublin', 'GRATTAN STREET', 'Grattan Street', 53.339629, -6.243778, False, False, 23, 'OPEN')



2023-03-03 15:07:54,928 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,928 INFO sqlalchemy.engine.Engine [raw sql] (57, 'dublin', 'GRATTAN STREET', 'Grattan Street', 53.339629, -6.243778, False, False, 23, 'OPEN')
2023-03-03 15:07:54,934 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677855912000}



VALS:(80, 'dublin', 'ST JAMES HOSPITAL (LUAS)', 'St James Hospital (Luas)', 53.341359, -6.292951, False, False, 40, 'OPEN')



2023-03-03 15:07:54,954 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,954 INFO sqlalchemy.engine.Engine [raw sql] (80, 'dublin', 'ST JAMES HOSPITAL (LUAS)', 'St James Hospital (Luas)', 53.341359, -6.292951, False, False, 40, 'OPEN')
2023-03-03 15:07:54,961 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 13, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677855818000}



VALS:(41, 'dublin', 'HARCOURT TERRACE', 'Harcourt Terrace', 53.332763, -6.257942, False, False, 20, 'OPEN')



2023-03-03 15:07:54,981 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:54,981 INFO sqlalchemy.engine.Engine [raw sql] (41, 'dublin', 'HARCOURT TERRACE', 'Harcourt Terrace', 53.332763, -6.257942, False, False, 20, 'OPEN')
2023-03-03 15:07:54,988 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855996000}



VALS:(3, 'dublin', 'BOLTON STREET', 'Bolton Street', 53.351182, -6.269859, False, False, 20, 'OPEN')



2023-03-03 15:07:55,005 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:55,005 INFO sqlalchemy.engine.Engine [raw sql] (3, 'dublin', 'BOLTON STREET', 'Bolton Street', 53.351182, -6.269859, False, False, 20, 'OPEN')
2023-03-03 15:07:55,012 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 15, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855675000}



VALS:(40, 'dublin', 'JERVIS STREET', 'Jervis Street', 53.3483, -6.266651, False, False, 21, 'OPEN')



2023-03-03 15:07:55,028 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:55,029 INFO sqlalchemy.engine.Engine [raw sql] (40, 'dublin', 'JERVIS STREET', 'Jervis Street', 53.3483, -6.266651, False, False, 21, 'OPEN')
2023-03-03 15:07:55,036 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 18, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855670000}



VALS:(29, 'dublin', 'ORMOND QUAY UPPER', 'Ormond Quay Upper', 53.346057, -6.268001, False, False, 29, 'OPEN')



2023-03-03 15:07:55,053 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:55,054 INFO sqlalchemy.engine.Engine [raw sql] (29, 'dublin', 'ORMOND QUAY UPPER', 'Ormond Quay Upper', 53.346057, -6.268001, False, False, 29, 'OPEN')
2023-03-03 15:07:55,060 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677856054000}



VALS:(103, 'dublin', 'GRANGEGORMAN LOWER (SOUTH)', 'Grangegorman Lower (South)', 53.354663, -6.278681, False, False, 40, 'OPEN')



2023-03-03 15:07:55,078 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:55,078 INFO sqlalchemy.engine.Engine [raw sql] (103, 'dublin', 'GRANGEGORMAN LOWER (SOUTH)', 'Grangegorman Lower (South)', 53.354663, -6.278681, False, False, 40, 'OPEN')
2023-03-03 15:07:55,086 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677855978000}



VALS:(28, 'dublin', 'MOUNTJOY SQUARE WEST', 'Mountjoy Square West', 53.356299, -6.258586, False, False, 30, 'OPEN')



2023-03-03 15:07:55,101 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-03 15:07:55,103 INFO sqlalchemy.engine.Engine [raw sql] (28, 'dublin', 'MOUNTJOY SQUARE WEST', 'Mountjoy Square West', 53.356299, -6.258586, False, False, 30, 'OPEN')
2023-03-03 15:07:55,111 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855863000}



VALS:(39, 'dublin', 'WILTON TERRACE', 'Wilton Terrace', 53.332383, -6.252717, False, False, 20, 'OPEN')



2023-03-03 15:07:55,133 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:55,134 INFO sqlalchemy.engine.Engine [raw sql] (39, 'dublin', 'WILTON TERRACE', 'Wilton Terrace', 53.332383, -6.252717, False, False, 20, 'OPEN')
2023-03-03 15:07:55,144 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677856051000}



VALS:(83, 'dublin', 'EMMET ROAD', 'Emmet Road', 53.340714, -6.308191, False, False, 40, 'OPEN')



2023-03-03 15:07:55,164 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:55,165 INFO sqlalchemy.engine.Engine [raw sql] (83, 'dublin', 'EMMET ROAD', 'Emmet Road', 53.340714, -6.308191, False, False, 40, 'OPEN')
2023-03-03 15:07:55,171 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677856036000}



VALS:(92, 'dublin', 'HEUSTON BRIDGE (NORTH)', 'Heuston Bridge (North)', 53.347802, -6.292432, False, False, 40, 'OPEN')



2023-03-03 15:07:55,188 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:55,189 INFO sqlalchemy.engine.Engine [raw sql] (92, 'dublin', 'HEUSTON BRIDGE (NORTH)', 'Heuston Bridge (North)', 53.347802, -6.292432, False, False, 40, 'OPEN')
2023-03-03 15:07:55,195 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855525000}



VALS:(21, 'dublin', 'LEINSTER STREET SOUTH', 'Leinster Street South', 53.34218, -6.254485, False, False, 30, 'OPEN')



2023-03-03 15:07:55,214 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:55,214 INFO sqlalchemy.engine.Engine [raw sql] (21, 'dublin', 'LEINSTER STREET SOUTH', 'Leinster Street South', 53.34218, -6.254485, False, False, 30, 'OPEN')
2023-03-03 15:07:55,220 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677856047000}



VALS:(88, 'dublin', 'BLACKHALL PLACE', 'Blackhall Place', 53.3488, -6.281637, False, False, 30, 'OPEN')



2023-03-03 15:07:55,237 INFO sqlalchemy.engine.Engine insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-03 15:07:55,237 INFO sqlalchemy.engine.Engine [raw sql] (88, 'dublin', 'BLACKHALL PLACE', 'Blackhall Place', 53.3488, -6.281637, False, False, 30, 'OPEN')
2023-03-03 15:07:55,243 INFO sqlalchemy.engine.Engine COMMIT
<class 'list'> 115
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677856059000}
2023-03-03 15:07:55,260 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,261 INFO sqlalchemy.engine.Engine [raw sql] (21, 9, 1677856059000, 42)
2023-03-03 15:07:55,267 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 13, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677855811000}
2023-03-03 15:07:55,283 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,283 INFO sqlalchemy.engine.Engine [raw sql] (13, 7, 1677855811000, 30)
2023-03-03 15:07:55,290 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 20, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677855762000}
2023-03-03 15:07:55,303 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,304 INFO sqlalchemy.engine.Engine [raw sql] (20, 13, 1677855762000, 54)
2023-03-03 15:07:55,311 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 21, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677855925000}
2023-03-03 15:07:55,329 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,330 INFO sqlalchemy.engine.Engine [raw sql] (21, 14, 1677855925000, 108)
2023-03-03 15:07:55,336 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677855954000}
2023-03-03 15:07:55,352 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,352 INFO sqlalchemy.engine.Engine [raw sql] (12, 18, 1677855954000, 20)
2023-03-03 15:07:55,359 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677855644000}
2023-03-03 15:07:55,375 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,376 INFO sqlalchemy.engine.Engine [raw sql] (20, 20, 1677855644000, 56)
2023-03-03 15:07:55,383 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677855626000}
2023-03-03 15:07:55,400 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,400 INFO sqlalchemy.engine.Engine [raw sql] (20, 0, 1677855626000, 6)
2023-03-03 15:07:55,407 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677856055000}
2023-03-03 15:07:55,424 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)

2023-03-03 15:07:55,425 INFO sqlalchemy.engine.Engine [raw sql] (14, 16, 1677856055000, 18)
2023-03-03 15:07:55,431 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677856045000}
2023-03-03 15:07:55,445 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,446 INFO sqlalchemy.engine.Engine [raw sql] (12, 18, 1677856045000, 32)
2023-03-03 15:07:55,452 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 14, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677855790000}
2023-03-03 15:07:55,468 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,468 INFO sqlalchemy.engine.Engine [raw sql] (14, 18, 1677855790000, 52)
2023-03-03 15:07:55,473 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677855996000}
2023-03-03 15:07:55,488 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,489 INFO sqlalchemy.engine.Engine [raw sql] (14, 26, 1677855996000, 48)
2023-03-03 15:07:55,495 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 24, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855754000}
2023-03-03 15:07:55,513 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,514 INFO sqlalchemy.engine.Engine [raw sql] (24, 6, 1677855754000, 13)
2023-03-03 15:07:55,519 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677855648000}
2023-03-03 15:07:55,534 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,535 INFO sqlalchemy.engine.Engine [raw sql] (27, 3, 1677855648000, 43)
2023-03-03 15:07:55,540 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 14, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855695000}
2023-03-03 15:07:55,555 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,556 INFO sqlalchemy.engine.Engine [raw sql] (14, 6, 1677855695000, 31)
2023-03-03 15:07:55,567 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677855855000}
2023-03-03 15:07:55,585 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,585 INFO sqlalchemy.engine.Engine [raw sql] (26, 14, 1677855855000, 98)
2023-03-03 15:07:55,591 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855941000}
2023-03-03 15:07:55,607 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,608 INFO sqlalchemy.engine.Engine [raw sql] (19, 11, 1677855941000, 14)
2023-03-03 15:07:55,613 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 20, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855945000}
2023-03-03 15:07:55,631 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,632 INFO sqlalchemy.engine.Engine [raw sql] (20, 11, 1677855945000, 1)
2023-03-03 15:07:55,640 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677856026000}
2023-03-03 15:07:55,657 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,657 INFO sqlalchemy.engine.Engine [raw sql] (17, 13, 1677856026000, 23)
2023-03-03 15:07:55,662 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677855871000}
2023-03-03 15:07:55,678 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,678 INFO sqlalchemy.engine.Engine [raw sql] (24, 16, 1677855871000, 106)
2023-03-03 15:07:55,684 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 24, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855799000}
2023-03-03 15:07:55,699 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,700 INFO sqlalchemy.engine.Engine [raw sql] (24, 6, 1677855799000, 112)
2023-03-03 15:07:55,707 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677855926000}
2023-03-03 15:07:55,727 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,735 INFO sqlalchemy.engine.Engine [raw sql] (40, 0, 1677855926000, 68)
2023-03-03 15:07:55,757 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 23, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677855671000}
2023-03-03 15:07:55,776 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,776 INFO sqlalchemy.engine.Engine [raw sql] (23, 7, 1677855671000, 74)
2023-03-03 15:07:55,782 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 25, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677856049000}
2023-03-03 15:07:55,806 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)

2023-03-03 15:07:55,808 INFO sqlalchemy.engine.Engine [raw sql] (25, 13, 1677856049000, 87)
2023-03-03 15:07:55,816 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 10, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677855473000}
2023-03-03 15:07:55,831 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,832 INFO sqlalchemy.engine.Engine [raw sql] (10, 20, 1677855473000, 84)
2023-03-03 15:07:55,839 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 3, 'available_bikes': 37, 'status': 'OPEN', 'last_update': 1677855471000}
2023-03-03 15:07:55,858 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,859 INFO sqlalchemy.engine.Engine [raw sql] (3, 37, 1677855471000, 90)
2023-03-03 15:07:55,867 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 13, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677855790000}
2023-03-03 15:07:55,883 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,884 INFO sqlalchemy.engine.Engine [raw sql] (13, 17, 1677855790000, 11)
2023-03-03 15:07:55,889 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677855716000}
2023-03-03 15:07:55,906 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,907 INFO sqlalchemy.engine.Engine [raw sql] (18, 2, 1677855716000, 17)
2023-03-03 15:07:55,913 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677855853000}
2023-03-03 15:07:55,930 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,930 INFO sqlalchemy.engine.Engine [raw sql] (27, 3, 1677855853000, 45)
2023-03-03 15:07:55,936 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 6, 'available_bikes': 34, 'status': 'OPEN', 'last_update': 1677855857000}
2023-03-03 15:07:55,953 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,954 INFO sqlalchemy.engine.Engine [raw sql] (6, 34, 1677855857000, 114)
2023-03-03 15:07:55,960 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 14, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677855461000}
2023-03-03 15:07:55,977 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:55,977 INFO sqlalchemy.engine.Engine [raw sql] (14, 17, 1677855461000, 72)
2023-03-03 15:07:55,985 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 24, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677856031000}
2023-03-03 15:07:56,004 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,007 INFO sqlalchemy.engine.Engine [raw sql] (24, 11, 1677856031000, 63)
2023-03-03 15:07:56,015 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677855559000}
2023-03-03 15:07:56,032 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,032 INFO sqlalchemy.engine.Engine [raw sql] (35, 5, 1677855559000, 113)
2023-03-03 15:07:56,038 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 8, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677855636000}
2023-03-03 15:07:56,055 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,056 INFO sqlalchemy.engine.Engine [raw sql] (8, 22, 1677855636000, 91)
2023-03-03 15:07:56,063 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677855912000}
2023-03-03 15:07:56,080 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,080 INFO sqlalchemy.engine.Engine [raw sql] (28, 2, 1677855912000, 99)
2023-03-03 15:07:56,086 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 13, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855879000}
2023-03-03 15:07:56,101 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,102 INFO sqlalchemy.engine.Engine [raw sql] (13, 11, 1677855879000, 9)
2023-03-03 15:07:56,108 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855939000}
2023-03-03 15:07:56,125 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,125 INFO sqlalchemy.engine.Engine [raw sql] (29, 11, 1677855939000, 67)
2023-03-03 15:07:56,132 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677855599000}
2023-03-03 15:07:56,148 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,149 INFO sqlalchemy.engine.Engine [raw sql] (28, 2, 1677855599000, 116)
2023-03-03 15:07:56,156 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 29, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677855847000}
2023-03-03 15:07:56,179 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)

2023-03-03 15:07:56,179 INFO sqlalchemy.engine.Engine [raw sql] (29, 7, 1677855847000, 55)
2023-03-03 15:07:56,188 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855769000}
2023-03-03 15:07:56,205 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,205 INFO sqlalchemy.engine.Engine [raw sql] (29, 11, 1677855769000, 62)
2023-03-03 15:07:56,211 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677856014000}
2023-03-03 15:07:56,226 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,227 INFO sqlalchemy.engine.Engine [raw sql] (26, 14, 1677856014000, 5)
2023-03-03 15:07:56,233 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677855742000}
2023-03-03 15:07:56,250 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,251 INFO sqlalchemy.engine.Engine [raw sql] (15, 25, 1677855742000, 97)
2023-03-03 15:07:56,256 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 25, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677855799000}
2023-03-03 15:07:56,274 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,274 INFO sqlalchemy.engine.Engine [raw sql] (25, 0, 1677855799000, 61)
2023-03-03 15:07:56,281 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677855499000}
2023-03-03 15:07:56,297 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,298 INFO sqlalchemy.engine.Engine [raw sql] (22, 7, 1677855499000, 77)
2023-03-03 15:07:56,304 INFO sqlalchemy.engine.Engine COMMIT
{'number': 73, 'contract_name': 'dublin', 'name': 'FRANCIS STREET', 'address': 'Francis Street', 'position': {'lat': 53.342081, 'lng': -6.275233}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677855922000}
2023-03-03 15:07:56,323 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,324 INFO sqlalchemy.engine.Engine [raw sql] (16, 14, 1677855922000, 73)
2023-03-03 15:07:56,331 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 11, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677855565000}
2023-03-03 15:07:56,347 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,347 INFO sqlalchemy.engine.Engine [raw sql] (11, 9, 1677855565000, 4)
2023-03-03 15:07:56,355 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855684000}
2023-03-03 15:07:56,371 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,371 INFO sqlalchemy.engine.Engine [raw sql] (29, 11, 1677855684000, 49)
2023-03-03 15:07:56,377 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677856005000}
2023-03-03 15:07:56,392 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,393 INFO sqlalchemy.engine.Engine [raw sql] (1, 29, 1677856005000, 19)
2023-03-03 15:07:56,399 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 17, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855881000}
2023-03-03 15:07:56,417 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,417 INFO sqlalchemy.engine.Engine [raw sql] (17, 12, 1677855881000, 7)
2023-03-03 15:07:56,424 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 23, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677855599000}
2023-03-03 15:07:56,439 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,439 INFO sqlalchemy.engine.Engine [raw sql] (23, 7, 1677855599000, 60)
2023-03-03 15:07:56,445 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677856055000}
2023-03-03 15:07:56,460 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,460 INFO sqlalchemy.engine.Engine [raw sql] (21, 19, 1677856055000, 102)
2023-03-03 15:07:56,467 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677856054000}
2023-03-03 15:07:56,483 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,484 INFO sqlalchemy.engine.Engine [raw sql] (22, 18, 1677856054000, 38)
2023-03-03 15:07:56,491 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677856030000}
2023-03-03 15:07:56,505 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,506 INFO sqlalchemy.engine.Engine [raw sql] (32, 8, 1677856030000, 53)
2023-03-03 15:07:56,514 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 12, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677855943000}
2023-03-03 15:07:56,530 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)

2023-03-03 15:07:56,530 INFO sqlalchemy.engine.Engine [raw sql] (12, 28, 1677855943000, 58)
2023-03-03 15:07:56,536 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677855791000}
2023-03-03 15:07:56,552 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,552 INFO sqlalchemy.engine.Engine [raw sql] (19, 20, 1677855791000, 66)
2023-03-03 15:07:56,557 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855709000}
2023-03-03 15:07:56,572 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,573 INFO sqlalchemy.engine.Engine [raw sql] (28, 12, 1677855709000, 104)
2023-03-03 15:07:56,579 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677856023000}
2023-03-03 15:07:56,595 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,596 INFO sqlalchemy.engine.Engine [raw sql] (29, 1, 1677856023000, 101)
2023-03-03 15:07:56,603 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677855953000}
2023-03-03 15:07:56,621 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,622 INFO sqlalchemy.engine.Engine [raw sql] (15, 15, 1677855953000, 115)
2023-03-03 15:07:56,628 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677855557000}
2023-03-03 15:07:56,646 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,646 INFO sqlalchemy.engine.Engine [raw sql] (24, 16, 1677855557000, 47)
2023-03-03 15:07:56,652 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677856061000}
2023-03-03 15:07:56,668 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,669 INFO sqlalchemy.engine.Engine [raw sql] (33, 7, 1677856061000, 117)
2023-03-03 15:07:56,676 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 23, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677856059000}
2023-03-03 15:07:56,692 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,692 INFO sqlalchemy.engine.Engine [raw sql] (23, 7, 1677856059000, 8)
2023-03-03 15:07:56,698 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 5, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677855987000}
2023-03-03 15:07:56,713 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,713 INFO sqlalchemy.engine.Engine [raw sql] (5, 15, 1677855987000, 27)
2023-03-03 15:07:56,718 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855479000}
2023-03-03 15:07:56,734 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,734 INFO sqlalchemy.engine.Engine [raw sql] (8, 12, 1677855479000, 16)
2023-03-03 15:07:56,741 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 24, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855466000}
2023-03-03 15:07:56,759 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,759 INFO sqlalchemy.engine.Engine [raw sql] (24, 6, 1677855466000, 96)
2023-03-03 15:07:56,766 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 8, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677855645000}
2023-03-03 15:07:56,785 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,786 INFO sqlalchemy.engine.Engine [raw sql] (8, 0, 1677855645000, 82)
2023-03-03 15:07:56,792 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 27, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855610000}
2023-03-03 15:07:56,810 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,810 INFO sqlalchemy.engine.Engine [raw sql] (27, 11, 1677855610000, 76)
2023-03-03 15:07:56,817 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 34, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855727000}
2023-03-03 15:07:56,833 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,833 INFO sqlalchemy.engine.Engine [raw sql] (34, 6, 1677855727000, 71)
2023-03-03 15:07:56,840 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 22, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677855475000}
2023-03-03 15:07:56,855 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,856 INFO sqlalchemy.engine.Engine [raw sql] (22, 5, 1677855475000, 79)
2023-03-03 15:07:56,862 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677856038000}
2023-03-03 15:07:56,877 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)

2023-03-03 15:07:56,878 INFO sqlalchemy.engine.Engine [raw sql] (19, 21, 1677856038000, 69)
2023-03-03 15:07:56,884 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855841000}
2023-03-03 15:07:56,898 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,899 INFO sqlalchemy.engine.Engine [raw sql] (18, 12, 1677855841000, 25)
2023-03-03 15:07:56,904 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677855770000}
2023-03-03 15:07:56,921 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,923 INFO sqlalchemy.engine.Engine [raw sql] (36, 4, 1677855770000, 51)
2023-03-03 15:07:56,930 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 24, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855523000}
2023-03-03 15:07:56,948 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,948 INFO sqlalchemy.engine.Engine [raw sql] (24, 6, 1677855523000, 37)
2023-03-03 15:07:56,955 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 6, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677856062000}
2023-03-03 15:07:56,972 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,972 INFO sqlalchemy.engine.Engine [raw sql] (6, 14, 1677856062000, 59)
2023-03-03 15:07:56,977 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677855676000}
2023-03-03 15:07:56,996 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:56,997 INFO sqlalchemy.engine.Engine [raw sql] (14, 26, 1677855676000, 95)
2023-03-03 15:07:57,003 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677855532000}
2023-03-03 15:07:57,022 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,022 INFO sqlalchemy.engine.Engine [raw sql] (40, 0, 1677855532000, 94)
2023-03-03 15:07:57,028 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 20, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677856004000}
2023-03-03 15:07:57,044 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,045 INFO sqlalchemy.engine.Engine [raw sql] (20, 16, 1677856004000, 105)
2023-03-03 15:07:57,050 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 25, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677855976000}
2023-03-03 15:07:57,067 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,068 INFO sqlalchemy.engine.Engine [raw sql] (25, 15, 1677855976000, 36)
2023-03-03 15:07:57,073 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677856009000}
2023-03-03 15:07:57,089 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,090 INFO sqlalchemy.engine.Engine [raw sql] (21, 19, 1677856009000, 93)
2023-03-03 15:07:57,096 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 9, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677855623000}
2023-03-03 15:07:57,115 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,115 INFO sqlalchemy.engine.Engine [raw sql] (9, 10, 1677855623000, 22)
2023-03-03 15:07:57,123 INFO sqlalchemy.engine.Engine COMMIT
{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677856054000}
2023-03-03 15:07:57,140 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,140 INFO sqlalchemy.engine.Engine [raw sql] (37, 3, 1677856054000, 50)
2023-03-03 15:07:57,147 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677855778000}
2023-03-03 15:07:57,168 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,169 INFO sqlalchemy.engine.Engine [raw sql] (24, 16, 1677855778000, 110)
2023-03-03 15:07:57,174 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 11, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677855826000}
2023-03-03 15:07:57,189 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,190 INFO sqlalchemy.engine.Engine [raw sql] (11, 9, 1677855826000, 12)
2023-03-03 15:07:57,196 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 24, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855664000}
2023-03-03 15:07:57,211 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,212 INFO sqlalchemy.engine.Engine [raw sql] (24, 6, 1677855664000, 34)
2023-03-03 15:07:57,218 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677855923000}
2023-03-03 15:07:57,233 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)

2023-03-03 15:07:57,234 INFO sqlalchemy.engine.Engine [raw sql] (39, 1, 1677855923000, 78)
2023-03-03 15:07:57,240 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 16, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677855990000}
2023-03-03 15:07:57,258 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,258 INFO sqlalchemy.engine.Engine [raw sql] (16, 4, 1677855990000, 2)
2023-03-03 15:07:57,265 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677856028000}
2023-03-03 15:07:57,281 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,281 INFO sqlalchemy.engine.Engine [raw sql] (38, 2, 1677856028000, 75)
2023-03-03 15:07:57,286 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-03-03 15:07:57,302 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,303 INFO sqlalchemy.engine.Engine [raw sql] (0, 1, 1675786128000, 507)
2023-03-03 15:07:57,307 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677855799000}
2023-03-03 15:07:57,323 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,323 INFO sqlalchemy.engine.Engine [raw sql] (39, 1, 1677855799000, 111)
2023-03-03 15:07:57,329 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 7, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677855984000}
2023-03-03 15:07:57,345 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,346 INFO sqlalchemy.engine.Engine [raw sql] (7, 13, 1677855984000, 26)
2023-03-03 15:07:57,353 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677855684000}
2023-03-03 15:07:57,369 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,370 INFO sqlalchemy.engine.Engine [raw sql] (14, 26, 1677855684000, 65)
2023-03-03 15:07:57,376 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 10, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677855791000}
2023-03-03 15:07:57,391 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,392 INFO sqlalchemy.engine.Engine [raw sql] (10, 3, 1677855791000, 15)
2023-03-03 15:07:57,397 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 9, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677855933000}
2023-03-03 15:07:57,413 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,413 INFO sqlalchemy.engine.Engine [raw sql] (9, 29, 1677855933000, 86)
2023-03-03 15:07:57,419 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 26, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677855709000}
2023-03-03 15:07:57,436 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,436 INFO sqlalchemy.engine.Engine [raw sql] (26, 3, 1677855709000, 35)
2023-03-03 15:07:57,441 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 16, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677855896000}
2023-03-03 15:07:57,458 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,459 INFO sqlalchemy.engine.Engine [raw sql] (16, 0, 1677855896000, 10)
2023-03-03 15:07:57,465 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 6, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677855463000}
2023-03-03 15:07:57,481 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,482 INFO sqlalchemy.engine.Engine [raw sql] (6, 19, 1677855463000, 100)
2023-03-03 15:07:57,491 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677855974000}
2023-03-03 15:07:57,507 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,508 INFO sqlalchemy.engine.Engine [raw sql] (17, 3, 1677855974000, 24)
2023-03-03 15:07:57,515 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677856023000}
2023-03-03 15:07:57,540 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,542 INFO sqlalchemy.engine.Engine [raw sql] (20, 20, 1677856023000, 64)
2023-03-03 15:07:57,550 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 16, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677856020000}
2023-03-03 15:07:57,566 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,567 INFO sqlalchemy.engine.Engine [raw sql] (16, 13, 1677856020000, 109)
2023-03-03 15:07:57,574 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 26, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677855939000}
2023-03-03 15:07:57,591 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)

2023-03-03 15:07:57,592 INFO sqlalchemy.engine.Engine [raw sql] (26, 9, 1677855939000, 85)
2023-03-03 15:07:57,599 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677855783000}
2023-03-03 15:07:57,612 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,613 INFO sqlalchemy.engine.Engine [raw sql] (30, 10, 1677855783000, 107)
2023-03-03 15:07:57,620 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 21, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677855545000}
2023-03-03 15:07:57,635 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,635 INFO sqlalchemy.engine.Engine [raw sql] (21, 2, 1677855545000, 33)
2023-03-03 15:07:57,641 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677855920000}
2023-03-03 15:07:57,658 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,659 INFO sqlalchemy.engine.Engine [raw sql] (22, 8, 1677855920000, 44)
2023-03-03 15:07:57,665 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 31, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677855710000}
2023-03-03 15:07:57,681 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,681 INFO sqlalchemy.engine.Engine [raw sql] (31, 9, 1677855710000, 89)
2023-03-03 15:07:57,688 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 21, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677855715000}
2023-03-03 15:07:57,705 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,706 INFO sqlalchemy.engine.Engine [raw sql] (21, 2, 1677855715000, 57)
2023-03-03 15:07:57,712 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677855912000}
2023-03-03 15:07:57,730 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,730 INFO sqlalchemy.engine.Engine [raw sql] (21, 19, 1677855912000, 80)
2023-03-03 15:07:57,737 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 13, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677855818000}
2023-03-03 15:07:57,752 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,753 INFO sqlalchemy.engine.Engine [raw sql] (13, 7, 1677855818000, 41)
2023-03-03 15:07:57,758 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855996000}
2023-03-03 15:07:57,774 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,775 INFO sqlalchemy.engine.Engine [raw sql] (8, 12, 1677855996000, 3)
2023-03-03 15:07:57,780 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 15, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677855675000}
2023-03-03 15:07:57,797 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,797 INFO sqlalchemy.engine.Engine [raw sql] (15, 6, 1677855675000, 40)
2023-03-03 15:07:57,803 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 18, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677855670000}
2023-03-03 15:07:57,818 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,819 INFO sqlalchemy.engine.Engine [raw sql] (18, 11, 1677855670000, 29)
2023-03-03 15:07:57,825 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677856054000}
2023-03-03 15:07:57,841 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,842 INFO sqlalchemy.engine.Engine [raw sql] (33, 7, 1677856054000, 103)
2023-03-03 15:07:57,847 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677855978000}
2023-03-03 15:07:57,862 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,862 INFO sqlalchemy.engine.Engine [raw sql] (12, 18, 1677855978000, 28)
2023-03-03 15:07:57,869 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 8, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855863000}
2023-03-03 15:07:57,885 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,885 INFO sqlalchemy.engine.Engine [raw sql] (8, 12, 1677855863000, 39)
2023-03-03 15:07:57,890 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677856051000}
2023-03-03 15:07:57,906 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,906 INFO sqlalchemy.engine.Engine [raw sql] (22, 18, 1677856051000, 83)
2023-03-03 15:07:57,911 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677856036000}
2023-03-03 15:07:57,926 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)

2023-03-03 15:07:57,927 INFO sqlalchemy.engine.Engine [raw sql] (27, 13, 1677856036000, 92)
2023-03-03 15:07:57,934 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677855525000}
2023-03-03 15:07:57,953 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,956 INFO sqlalchemy.engine.Engine [raw sql] (18, 12, 1677855525000, 21)
2023-03-03 15:07:57,963 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677856047000}
2023-03-03 15:07:57,981 INFO sqlalchemy.engine.Engine insert into availability values(%s, %s, %s, %s)
2023-03-03 15:07:57,982 INFO sqlalchemy.engine.Engine [raw sql] (20, 10, 1677856047000, 88)
2023-03-03 15:07:57,988 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
#r = requests.get(STATIONS , params = {"apiKey": APIKEY, "contract": NAME})

In [ ]:
#text = r.text

In [ ]:
#stations = json.loads(text)

In [ ]:

"""
for station in stations[:10]:

        vals = (
            station.get("number"),
            station.get("contract_name"),
            station.get("name"),
            station.get("address"),
            station.get("position").get("lat"),
            station.get("position").get("lng"),
            station.get("banking"),
            station.get("bonus"),
            station.get("bike_stands"),
            station.get("status")
        )
        engine.execute("insert into stations values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
        break
"""

In [ ]:
#number, name, address, latitude, longitude, bike_stands