In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/iphone/opt/anaconda3/lib/python3.9/site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /Users/iphone/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)

In [2]:
import sqlalchemy as sqla
from sqlalchemy import create_engine
import traceback 
import glob
import os 
import pprint
from pprint import pprint
import json
import requests
import time
from IPython.display import display

In [3]:
url = "dbbikes.cvvkn6jkfbdf.eu-west-1.rds.amazonaws.com"
port = "3306"
db = "dbbikes"
user = "SEGroup25"
password = "SEGroup25?"

In [4]:
engine = create_engine(f"mysql+mysqldb://{user}:{password}@{url}:{port}/{db}", echo=True)

In [5]:
for res in engine.execute("SHOW VARIABLES"):
    print(res)

2023-03-02 21:49:38,545 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-03-02 21:49:38,546 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-02 21:49:38,583 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-03-02 21:49:38,584 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-02 21:49:38,601 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-03-02 21:49:38,601 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-02 21:49:38,632 INFO sqlalchemy.engine.Engine SHOW VARIABLES
2023-03-02 21:49:38,633 INFO sqlalchemy.engine.Engine [raw sql] ()
('activate_all_roles_on_login', 'OFF')
('admin_address', '')
('admin_port', '33062')
('admin_ssl_ca', '')
('admin_ssl_capath', '')
('admin_ssl_cert', '')
('admin_ssl_cipher', '')
('admin_ssl_crl', '')
('admin_ssl_crlpath', '')
('admin_ssl_key', '')
('admin_tls_ciphersuites', '')
('admin_tls_version', 'TLSv1.2,TLSv1.3')
('authentication_policy', '*')
('auto_generate_certs', 'ON')
('auto_increment_increment', '1')
('auto_increment_offset', '1')
('autocommit', 'OFF')
('automatic_sp_privileges', 'ON')
('avoid_temporal_upgrade', 'OFF')
('back_log', '63')
('basedir', '/rdsdbbin/mysql-8.0.28.R4/')
('big_tables', 'OFF')
('bind_address', '*')
('binlog_cache_size', '32768')
('binlog_checksum', 'CRC32')
('binlog_direct_non_transactional_updates', 'OFF')
('binlog_encryption', 'OFF')
('binlog_error_action', 'ABORT_SERVER')
('binlog_expire_logs_seconds', '2592000')
('binlog_format', 'MIXED')
('binlog_group_commit_sync_delay', '0')
('binlog_group_commit_sync_no_delay_count', '0')
('binlog_gtid_simple_recovery', 'ON')
('binlog_max_flush_queue_time', '0')
('binlog_order_commits', 'ON')
('binlog_rotate_encryption_master_key_at_startup', 'OFF')
('binlog_row_event_max_size', '8192')
('binlog_row_image', 'FULL')
('binlog_row_metadata', 'MINIMAL')
('binlog_row_value_options', '')
('binlog_rows_query_log_events', 'OFF')
('binlog_stmt_cache_size', '32768')
('binlog_transaction_compression', 'OFF')
('binlog_transaction_compression_level_zstd', '3')
('binlog_transaction_dependency_history_size', '25000')
('binlog_transaction_dependency_tracking', 'COMMIT_ORDER')
('block_encryption_mode', 'aes-128-ecb')
('bulk_insert_buffer_size', '8388608')
('caching_sha2_password_auto_generate_rsa_keys', 'ON')
('caching_sha2_password_digest_rounds', '5000')
('caching_sha2_password_private_key_path', 'private_key.pem')
('caching_sha2_password_public_key_path', 'public_key.pem')
('character_set_client', 'latin1')
('character_set_connection', 'latin1')
('character_set_database', 'utf8mb4')
('character_set_filesystem', 'binary')
('character_set_results', 'latin1')
('character_set_server', 'utf8mb4')
('character_set_system', 'utf8mb3')
('character_sets_dir', '/rdsdbbin/mysql-8.0.28.R4/share/charsets/')
('check_proxy_users', 'OFF')
('collation_connection', 'latin1_swedish_ci')
('collation_database', 'utf8mb4_0900_ai_ci')
('collation_server', 'utf8mb4_0900_ai_ci')
('completion_type', 'NO_CHAIN')
('concurrent_insert', 'AUTO')
('connect_timeout', '10')
('connection_memory_chunk_size', '8912')
('connection_memory_limit', '18446744073709551615')
('core_file', 'OFF')
('create_admin_listener_thread', 'OFF')
('cte_max_recursion_depth', '1000')
('datadir', '/rdsdbdata/db/')
('default_authentication_plugin', 'mysql_native_password')
('default_collation_for_utf8mb4', 'utf8mb4_0900_ai_ci')
('default_password_lifetime', '0')
('default_storage_engine', 'InnoDB')
('default_table_encryption', 'OFF')
('default_tmp_storage_engine', 'InnoDB')
('default_week_format', '0')
('delay_key_write', 'ON')
('delayed_insert_limit', '100')
('delayed_insert_timeout', '300')
('delayed_queue_size', '1000')
('disabled_storage_engines', '')
('disconnect_on_expired_password', 'ON')
('div_precision_increment', '4')
('end_markers_in_json', 'OFF')
('enforce_gtid_consistency', 'OFF')
('eq_range_index_dive_limit', '200')
('error_count', '0')
('event_scheduler', 'ON')
('expire_logs_days', '0')
('explicit_defaults_for_timestamp', 'ON')
('external_user', '')
('flush', 'OFF')
('flush_time', '0')
('foreign_key_checks', 'ON')
('ft_boolean_syntax', '+ -><()~*:""&|')
('ft_max_word_len', '84')
('ft_min_word_len', '4')
('ft_query_expansion_limit', '20')
('ft_stopword_file', '(built-in)')
('general_log', 'OFF')
('general_log_file', '/rdsdbdata/log/general/mysql-general.log')
('generated_random_password_length', '20')
('global_connection_memory_limit', '18446744073709551615')
('global_connection_memory_tracking', 'OFF')
('group_concat_max_len', '1024')
('group_replication_consistency', 'EVENTUAL')
('gtid_executed', '')
('gtid_executed_compression_period', '0')
('gtid_mode', 'OFF_PERMISSIVE')
('gtid_next', 'AUTOMATIC')
('gtid_owned', '')
('gtid_purged', '')
('have_compress', 'YES')
('have_dynamic_loading', 'YES')
('have_geometry', 'YES')
('have_openssl', 'YES')
('have_profiling', 'YES')
('have_query_cache', 'NO')
('have_rtree_keys', 'YES')
('have_ssl', 'YES')
('have_statement_timeout', 'YES')
('have_symlink', 'DISABLED')
('histogram_generation_max_mem_size', '20000000')
('host_cache_size', '191')
('hostname', 'ip-10-4-2-114')
('identity', '0')
('immediate_server_version', '999999')
('information_schema_stats_expiry', '86400')
('init_connect', '')
('init_file', '')
('init_replica', '')
('init_slave', '')
('innodb_adaptive_flushing', 'ON')
('innodb_adaptive_flushing_lwm', '10')
('innodb_adaptive_hash_index', 'ON')
('innodb_adaptive_hash_index_parts', '8')
('innodb_adaptive_max_sleep_delay', '150000')
('innodb_api_bk_commit_interval', '5')
('innodb_api_disable_rowlock', 'OFF')
('innodb_api_enable_binlog', 'OFF')
('innodb_api_enable_mdl', 'OFF')
('innodb_api_trx_level', '0')
('innodb_autoextend_increment', '64')
('innodb_autoinc_lock_mode', '2')
('innodb_buffer_pool_chunk_size', '134217728')
('innodb_buffer_pool_dump_at_shutdown', 'ON')
('innodb_buffer_pool_dump_now', 'OFF')
('innodb_buffer_pool_dump_pct', '25')
('innodb_buffer_pool_filename', 'ib_buffer_pool')
('innodb_buffer_pool_in_core_file', 'ON')
('innodb_buffer_pool_instances', '1')
('innodb_buffer_pool_load_abort', 'OFF')
('innodb_buffer_pool_load_at_startup', 'ON')
('innodb_buffer_pool_load_now', 'OFF')
('innodb_buffer_pool_size', '268435456')
('innodb_change_buffer_max_size', '25')
('innodb_change_buffering', 'all')
('innodb_checksum_algorithm', 'crc32')
('innodb_cmp_per_index_enabled', 'OFF')
('innodb_commit_concurrency', '0')
('innodb_compression_failure_threshold_pct', '5')
('innodb_compression_level', '6')
('innodb_compression_pad_pct_max', '50')
('innodb_concurrency_tickets', '5000')
('innodb_data_file_path', 'ibdata1:12M:autoextend')
('innodb_data_home_dir', '/rdsdbdata/db/innodb')
('innodb_ddl_buffer_size', '1048576')
('innodb_ddl_threads', '4')
('innodb_deadlock_detect', 'ON')
('innodb_dedicated_server', 'OFF')
('innodb_default_row_format', 'dynamic')
('innodb_directories', '')
('innodb_disable_sort_file_cache', 'OFF')
('innodb_doublewrite', 'ON')
('innodb_doublewrite_batch_size', '16')
('innodb_doublewrite_dir', '')
('innodb_doublewrite_files', '2')
('innodb_doublewrite_pages', '32')
('innodb_extend_and_initialize', 'ON')
('innodb_fast_shutdown', '1')
('innodb_file_per_table', 'ON')
('innodb_fill_factor', '100')
('innodb_flush_log_at_timeout', '1')
('innodb_flush_log_at_trx_commit', '1')
('innodb_flush_method', 'O_DIRECT')
('innodb_flush_neighbors', '0')
('innodb_flush_sync', 'ON')
('innodb_flushing_avg_loops', '30')
('innodb_force_load_corrupted', 'OFF')
('innodb_force_recovery', '0')
('innodb_fsync_threshold', '0')
('innodb_ft_aux_table', '')
('innodb_ft_cache_size', '8000000')
('innodb_ft_enable_diag_print', 'OFF')
('innodb_ft_enable_stopword', 'ON')
('innodb_ft_max_token_size', '84')
('innodb_ft_min_token_size', '3')
('innodb_ft_num_word_optimize', '2000')
('innodb_ft_result_cache_limit', '2000000000')
('innodb_ft_server_stopword_table', '')
('innodb_ft_sort_pll_degree', '2')
('innodb_ft_total_cache_size', '640000000')
('innodb_ft_user_stopword_table', '')
('innodb_idle_flush_pct', '100')
('innodb_io_capacity', '200')
('innodb_io_capacity_max', '2000')
('innodb_lock_wait_timeout', '50')
('innodb_log_buffer_size', '8388608')
('innodb_log_checksums', 'ON')
('innodb_log_compressed_pages', 'ON')
('innodb_log_file_size', '134217728')
('innodb_log_files_in_group', '2')
('innodb_log_group_home_dir', '/rdsdbdata/log/innodb')
('innodb_log_spin_cpu_abs_lwm', '80')
('innodb_log_spin_cpu_pct_hwm', '50')
('innodb_log_wait_for_flush_spin_hwm', '400')
('innodb_log_write_ahead_size', '8192')
('innodb_log_writer_threads', 'ON')
('innodb_lru_scan_depth', '1024')
('innodb_max_dirty_pages_pct', '90.000000')
('innodb_max_dirty_pages_pct_lwm', '10.000000')
('innodb_max_purge_lag', '0')
('innodb_max_purge_lag_delay', '0')
('innodb_max_undo_log_size', '1073741824')
('innodb_monitor_disable', '')
('innodb_monitor_enable', '')
('innodb_monitor_reset', '')
('innodb_monitor_reset_all', '')
('innodb_numa_interleave', 'OFF')
('innodb_old_blocks_pct', '37')
('innodb_old_blocks_time', '1000')
('innodb_online_alter_log_max_size', '134217728')
('innodb_open_files', '4000')
('innodb_optimize_fulltext_only', 'OFF')
('innodb_page_cleaners', '1')
('innodb_page_size', '16384')
('innodb_parallel_read_threads', '4')
('innodb_print_all_deadlocks', 'OFF')
('innodb_print_ddl_logs', 'OFF')
('innodb_purge_batch_size', '300')
('innodb_purge_rseg_truncate_frequency', '128')
('innodb_purge_threads', '1')
('innodb_random_read_ahead', 'OFF')
('innodb_read_ahead_threshold', '56')
('innodb_read_io_threads', '4')
('innodb_read_only', 'OFF')
('innodb_redo_log_archive_dirs', '')
('innodb_redo_log_encrypt', 'OFF')
('innodb_replication_delay', '0')
('innodb_rollback_on_timeout', 'OFF')
('innodb_rollback_segments', '128')
('innodb_segment_reserve_factor', '12.500000')
('innodb_sort_buffer_size', '1048576')
('innodb_spin_wait_delay', '6')
('innodb_spin_wait_pause_multiplier', '50')
('innodb_stats_auto_recalc', 'ON')
('innodb_stats_include_delete_marked', 'OFF')
('innodb_stats_method', 'nulls_equal')
('innodb_stats_on_metadata', 'OFF')
('innodb_stats_persistent', 'ON')

('innodb_stats_persistent_sample_pages', '20')
('innodb_stats_transient_sample_pages', '8')
('innodb_status_output', 'OFF')
('innodb_status_output_locks', 'OFF')
('innodb_strict_mode', 'ON')
('innodb_sync_array_size', '1')
('innodb_sync_spin_loops', '30')
('innodb_table_locks', 'ON')
('innodb_temp_data_file_path', 'ibtmp1:12M:autoextend')
('innodb_temp_tablespaces_dir', './#innodb_temp/')
('innodb_thread_concurrency', '0')
('innodb_thread_sleep_delay', '10000')
('innodb_tmpdir', '')
('innodb_undo_directory', './')
('innodb_undo_log_encrypt', 'OFF')
('innodb_undo_log_truncate', 'ON')
('innodb_undo_tablespaces', '2')
('innodb_use_fdatasync', 'OFF')
('innodb_use_native_aio', 'ON')
('innodb_validate_tablespace_paths', 'ON')
('innodb_version', '8.0.28')
('innodb_write_io_threads', '4')
('insert_id', '0')
('interactive_timeout', '28800')
('internal_tmp_mem_storage_engine', 'TempTable')
('join_buffer_size', '262144')
('keep_files_on_create', 'OFF')
('key_buffer_size', '16777216')
('key_cache_age_threshold', '300')
('key_cache_block_size', '1024')
('key_cache_division_limit', '100')
('keyring_operations', 'ON')
('large_files_support', 'ON')
('large_page_size', '0')
('large_pages', 'OFF')
('last_insert_id', '0')
('lc_messages', 'en_US')
('lc_messages_dir', '/rdsdbbin/mysql-8.0.28.R4/share/')
('lc_time_names', 'en_US')
('license', 'GPL')
('local_infile', 'ON')
('lock_wait_timeout', '31536000')
('locked_in_memory', 'OFF')
('log_bin', 'ON')
('log_bin_basename', '/rdsdbdata/log/binlog/mysql-bin-changelog')
('log_bin_index', '/rdsdbdata/log/binlog/mysql-bin-changelog.index')
('log_bin_trust_function_creators', 'OFF')
('log_bin_use_v1_row_events', 'OFF')
('log_error', '/rdsdbdata/log/error/mysql-error.log')
('log_error_services', 'log_filter_internal; log_sink_internal')
('log_error_suppression_list', '')
('log_error_verbosity', '2')
('log_output', 'TABLE')
('log_queries_not_using_indexes', 'OFF')
('log_raw', 'OFF')
('log_replica_updates', 'ON')
('log_slave_updates', 'ON')
('log_slow_admin_statements', 'OFF')
('log_slow_extra', 'OFF')
('log_slow_replica_statements', 'OFF')
('log_slow_slave_statements', 'OFF')
('log_statements_unsafe_for_binlog', 'OFF')
('log_throttle_queries_not_using_indexes', '0')
('log_timestamps', 'UTC')
('long_query_time', '10.000000')
('low_priority_updates', 'OFF')
('lower_case_file_system', 'OFF')
('lower_case_table_names', '0')
('mandatory_roles', '')
('master_info_repository', 'TABLE')
('master_verify_checksum', 'OFF')
('max_allowed_packet', '67108864')
('max_binlog_cache_size', '18446744073709547520')
('max_binlog_size', '134217728')
('max_binlog_stmt_cache_size', '18446744073709547520')
('max_connect_errors', '100')
('max_connections', '63')
('max_delayed_threads', '20')
('max_digest_length', '1024')
('max_error_count', '1024')
('max_execution_time', '0')
('max_heap_table_size', '16777216')
('max_insert_delayed_threads', '20')
('max_join_size', '18446744073709551615')
('max_length_for_sort_data', '4096')
('max_points_in_geometry', '65536')
('max_prepared_stmt_count', '16382')
('max_relay_log_size', '0')
('max_seeks_for_key', '18446744073709551615')
('max_sort_length', '1024')
('max_sp_recursion_depth', '0')
('max_user_connections', '0')
('max_write_lock_count', '18446744073709551615')
('min_examined_row_limit', '0')
('myisam_data_pointer_size', '6')
('myisam_max_sort_file_size', '9223372036853727232')
('myisam_mmap_size', '18446744073709551615')
('myisam_recover_options', 'OFF')
('myisam_repair_threads', '1')
('myisam_sort_buffer_size', '8388608')
('myisam_stats_method', 'nulls_unequal')
('myisam_use_mmap', 'OFF')
('mysql_native_password_proxy_users', 'OFF')
('net_buffer_length', '16384')
('net_read_timeout', '30')
('net_retry_count', '10')
('net_write_timeout', '60')
('new', 'OFF')
('ngram_token_size', '2')
('offline_mode', 'OFF')
('old', 'OFF')
('old_alter_table', 'OFF')
('open_files_limit', '1048576')
('optimizer_prune_level', '1')
('optimizer_search_depth', '62')
('optimizer_switch', 'index_merge=on,index_merge_union=on,index_merge_sort_union=on,index_merge_intersection=on,engine_condition_pushdown=on,index_condition_pushdown=on,mr ... (258 characters truncated) ... visible_indexes=off,skip_scan=on,hash_join=on,subquery_to_derived=off,prefer_ordering_index=on,hypergraph_optimizer=off,derived_condition_pushdown=on')
('optimizer_trace', 'enabled=off,one_line=off')
('optimizer_trace_features', 'greedy_search=on,range_optimizer=on,dynamic_range=on,repeated_subselect=on')
('optimizer_trace_limit', '1')
('optimizer_trace_max_mem_size', '1048576')
('optimizer_trace_offset', '-1')
('original_commit_timestamp', '36028797018963968')
('original_server_version', '999999')
('parser_max_mem_size', '18446744073709551615')
('partial_revokes', 'OFF')
('password_history', '0')
('password_require_current', 'OFF')
('password_reuse_interval', '0')
('performance_schema', 'OFF')
('performance_schema_accounts_size', '0')
('performance_schema_digests_size', '0')
('performance_schema_error_size', '0')
('performance_schema_events_stages_history_long_size', '0')
('performance_schema_events_stages_history_size', '0')
('performance_schema_events_statements_history_long_size', '0')
('performance_schema_events_statements_history_size', '0')
('performance_schema_events_transactions_history_long_size', '0')
('performance_schema_events_transactions_history_size', '0')
('performance_schema_events_waits_history_long_size', '0')
('performance_schema_events_waits_history_size', '0')
('performance_schema_hosts_size', '0')
('performance_schema_max_cond_classes', '0')
('performance_schema_max_cond_instances', '0')
('performance_schema_max_digest_length', '0')
('performance_schema_max_digest_sample_age', '60')
('performance_schema_max_file_classes', '0')
('performance_schema_max_file_handles', '0')
('performance_schema_max_file_instances', '0')
('performance_schema_max_index_stat', '0')
('performance_schema_max_memory_classes', '0')
('performance_schema_max_metadata_locks', '0')
('performance_schema_max_mutex_classes', '0')
('performance_schema_max_mutex_instances', '0')
('performance_schema_max_prepared_statements_instances', '0')
('performance_schema_max_program_instances', '0')
('performance_schema_max_rwlock_classes', '0')
('performance_schema_max_rwlock_instances', '0')
('performance_schema_max_socket_classes', '0')
('performance_schema_max_socket_instances', '0')
('performance_schema_max_sql_text_length', '0')
('performance_schema_max_stage_classes', '0')
('performance_schema_max_statement_classes', '0')
('performance_schema_max_statement_stack', '0')
('performance_schema_max_table_handles', '0')
('performance_schema_max_table_instances', '0')
('performance_schema_max_table_lock_stat', '0')
('performance_schema_max_thread_classes', '0')
('performance_schema_max_thread_instances', '0')
('performance_schema_session_connect_attrs_size', '0')
('performance_schema_setup_actors_size', '0')
('performance_schema_setup_objects_size', '0')
('performance_schema_show_processlist', 'OFF')
('performance_schema_users_size', '0')
('persist_only_admin_x509_subject', '')
('persisted_globals_load', 'OFF')
('pid_file', '/rdsdbdata/log/mysql-3306.pid')
('plugin_dir', '/rdsdbbin/mysql-8.0.28.R4/lib/plugin/')
('port', '3306')
('preload_buffer_size', '32768')
('print_identified_with_as_hex', 'OFF')
('profiling', 'OFF')
('profiling_history_size', '15')
('protocol_compression_algorithms', 'zlib,zstd,uncompressed')
('protocol_version', '10')
('proxy_user', '')
('pseudo_replica_mode', 'OFF')
('pseudo_slave_mode', 'OFF')
('pseudo_thread_id', '2722')
('query_alloc_block_size', '8192')
('query_prealloc_size', '8192')
('rand_seed1', '0')
('rand_seed2', '0')
('range_alloc_block_size', '4096')
('range_optimizer_max_mem_size', '8388608')
('rbr_exec_mode', 'STRICT')
('read_buffer_size', '262144')
('read_only', 'OFF')
('read_rnd_buffer_size', '524288')
('regexp_stack_limit', '8000000')
('regexp_time_limit', '32')
('relay_log', '/rdsdbdata/log/relaylog/relaylog')
('relay_log_basename', '/rdsdbdata/log/relaylog/relaylog')
('relay_log_index', '/rdsdbdata/log/relaylog/relaylog.index')
('relay_log_info_file', 'relay-log.info')
('relay_log_info_repository', 'TABLE')
('relay_log_purge', 'ON')
('relay_log_recovery', 'ON')
('relay_log_space_limit', '0')
('replica_allow_batching', 'OFF')
('replica_checkpoint_group', '512')
('replica_checkpoint_period', '300')
('replica_compressed_protocol', 'OFF')
('replica_exec_mode', 'IDEMPOTENT')
('replica_load_tmpdir', '/rdsdbdata/tmp')
('replica_max_allowed_packet', '1073741824')
('replica_net_timeout', '60')
('replica_parallel_type', 'LOGICAL_CLOCK')
('replica_parallel_workers', '4')
('replica_pending_jobs_size_max', '134217728')
('replica_preserve_commit_order', 'ON')
('replica_skip_errors', 'OFF')
('replica_sql_verify_checksum', 'ON')
('replica_transaction_retries', '10')
('replica_type_conversions', '')
('replication_optimize_for_static_plugin_config', 'OFF')
('replication_sender_observe_commit_only', 'OFF')
('report_host', '')
('report_password', '')
('report_port', '3306')
('report_user', '')
('require_row_format', 'OFF')
('require_secure_transport', 'OFF')
('resultset_metadata', 'FULL')
('rpl_read_size', '8192')
('rpl_stop_replica_timeout', '31536000')
('rpl_stop_slave_timeout', '31536000')
('schema_definition_cache', '256')
('secondary_engine_cost_threshold', '100000.000000')
('secure_file_priv', '/secure_file_priv_dir/')
('select_into_buffer_size', '131072')
('select_into_disk_sync', 'OFF')
('select_into_disk_sync_delay', '0')
('server_id', '841325650')
('server_id_bits', '32')
('server_uuid', 'c45ef9b0-b35d-11ed-b240-0635efe1fbc1')
('session_track_gtids', 'OFF')
('session_track_schema', 'ON')
('session_track_state_change', 'OFF')
('session_track_system_variables', 'time_zone,autocommit,character_set_client,character_set_results,character_set_connection')
('session_track_transaction_info', 'OFF')
('sha256_password_auto_generate_rsa_keys', 'ON')
('sha256_password_private_key_path', 'private_key.pem')
('sha256_password_proxy_users', 'OFF')
('sha256_password_public_key_path', 'public_key.pem')
('show_create_table_skip_secondary_engine', 'OFF')
('show_create_table_verbosity', 'OFF')
('show_old_temporals', 'OFF')
('skip_external_locking', 'ON')
('skip_name_resolve', 'OFF')
('skip_networking', 'OFF')
('skip_replica_start', 'ON')
('skip_show_database', 'OFF')
('skip_slave_start', 'ON')
('slave_allow_batching', 'OFF')
('slave_checkpoint_group', '512')
('slave_checkpoint_period', '300')
('slave_compressed_protocol', 'OFF')
('slave_exec_mode', 'IDEMPOTENT')
('slave_load_tmpdir', '/rdsdbdata/tmp')
('slave_max_allowed_packet', '1073741824')
('slave_net_timeout', '60')
('slave_parallel_type', 'LOGICAL_CLOCK')
('slave_parallel_workers', '4')
('slave_pending_jobs_size_max', '134217728')
('slave_preserve_commit_order', 'ON')
('slave_rows_search_algorithms', 'INDEX_SCAN,HASH_SCAN')
('slave_skip_errors', 'OFF')
('slave_sql_verify_checksum', 'ON')
('slave_transaction_retries', '10')
('slave_type_conversions', '')
('slow_launch_time', '2')
('slow_query_log', 'OFF')
('slow_query_log_file', '/rdsdbdata/log/slowquery/mysql-slowquery.log')
('socket', '/tmp/mysql.sock')
('sort_buffer_size', '262144')
('source_verify_checksum', 'OFF')
('sql_auto_is_null', 'OFF')
('sql_big_selects', 'ON')
('sql_buffer_result', 'OFF')
('sql_log_bin', 'ON')
('sql_log_off', 'OFF')
('sql_mode', 'NO_ENGINE_SUBSTITUTION')
('sql_notes', 'ON')
('sql_quote_show_create', 'ON')
('sql_replica_skip_counter', '0')
('sql_require_primary_key', 'OFF')
('sql_safe_updates', 'OFF')
('sql_select_limit', '18446744073709551615')
('sql_slave_skip_counter', '0')
('sql_warnings', 'OFF')
('ssl_ca', '/rdsdbdata/rds-metadata/ca-cert.pem')
('ssl_capath', '')
('ssl_cert', '/rdsdbdata/rds-metadata/server-cert.pem')
('ssl_cipher', 'ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA:AES128-SHA:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA:DHE-DSS-AES128-SHA:DHE-DSS-AES256-SHA')
('ssl_crl', '')
('ssl_crlpath', '')
('ssl_fips_mode', 'OFF')
('ssl_key', '/rdsdbdata/rds-metadata/server-key.pem')
('stored_program_cache', '256')
('stored_program_definition_cache', '256')
('super_read_only', 'OFF')
('sync_binlog', '1')
('sync_master_info', '10000')
('sync_relay_log', '10000')
('sync_relay_log_info', '10000')
('sync_source_info', '10000')
('system_time_zone', 'UTC')
('table_definition_cache', '2000')
('table_encryption_privilege_check', 'OFF')
('table_open_cache', '4000')
('table_open_cache_instances', '16')
('tablespace_definition_cache', '256')
('temptable_max_mmap', '1073741824')
('temptable_max_ram', '1073741824')
('temptable_use_mmap', 'ON')
('terminology_use_previous', 'BEFORE_8_0_26')
('thread_cache_size', '8')
('thread_handling', 'one-thread-per-connection')
('thread_stack', '262144')
('time_zone', 'UTC')
('timestamp', '1677793778.675705')
('tls_ciphersuites', '')
('tls_version', 'TLSv1.2,TLSv1.3')
('tmp_table_size', '16777216')
('tmpdir', '/rdsdbdata/tmp')
('transaction_alloc_block_size', '8192')
('transaction_allow_batching', 'OFF')
('transaction_isolation', 'REPEATABLE-READ')
('transaction_prealloc_size', '4096')
('transaction_read_only', 'OFF')
('transaction_write_set_extraction', 'XXHASH64')
('unique_checks', 'ON')
('updatable_views_with_limit', 'YES')
('use_secondary_engine', 'ON')
('version', '8.0.28')
('version_comment', 'Source distribution')
('version_compile_machine', 'x86_64')
('version_compile_os', 'Linux')
('version_compile_zlib', '1.2.11')
('wait_timeout', '28800')
('warning_count', '0')
('windowing_use_high_precision', 'ON')

In [6]:
sql = """
CREATE TABLE IF NOT EXISTS station (
contract_name VARCHAR(15),
name VARCHAR(365),
number INT,
address VARCHAR(365),
position_lat REAL,
position_long REAL,
banking INT,
bonus INT,
bike_stands INT,
status VARCHAR(50)
)
"""

try:
    res = engine.execute("DROP TABLE IF EXISTS station")
    res = engine.execute(sql)
    print(res.fetchall())
except Exception as e:
    print(e)

2023-03-02 21:49:38,830 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS station
2023-03-02 21:49:38,832 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-02 21:49:38,863 INFO sqlalchemy.engine.Engine COMMIT
2023-03-02 21:49:38,894 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS station (
contract_name VARCHAR(15),
name VARCHAR(365),
number INT,
address VARCHAR(365),
position_lat REAL,
position_long REAL,
banking INT,
bonus INT,
bike_stands INT,
status VARCHAR(50)
)

2023-03-02 21:49:38,894 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-02 21:49:38,937 INFO sqlalchemy.engine.Engine COMMIT
This result object does not return rows. It has been closed automatically.

In [7]:
sql = """
CREATE TABLE IF NOT EXISTS availability (
available_bike_stands INT,
available_bikes INT,
last_update INT,
number INT)
"""

try:
    res = engine.execute(sql)
    print(res.fetchall())
except Exception as e:
    print(e)

2023-03-02 21:49:38,979 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS availability (
available_bike_stands INT,
available_bikes INT,
last_update INT,
number INT)

2023-03-02 21:49:38,981 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-02 21:49:39,002 INFO sqlalchemy.engine.Engine COMMIT
This result object does not return rows. It has been closed automatically.

In [8]:
import requests
import traceback
import datetime
import time

In [9]:
APIKEY = "5ac1b590c7e338d66c34fa0c5610e94c99a3b45c"
NAME = "Dublin"
STATIONS = "https://api.jcdecaux.com/vls/v1/stations"

In [ ]:
r = requests.get(STATIONS , params = {"apiKey": APIKEY, "contract": NAME})
def write_to_file(text):
    now = datetime.datetime.now()
    with open(f"data/bikes_{now}".replace(" ", "_"), "w") as f:
        f.write(r.text)
    

            
def stations_to_db(text):
    stations = json.loads(text)
    print(type(stations),len(stations))
    for station in stations:
        print(station)
        vals = (
            station.get("contract_name"),
            station.get("name"),
            station.get("number"),
            station.get("address"),
            station.get("position").get("lat"),
            station.get("position").get("long"),
            int(station.get("banking")),
            int(station.get("bonus")),
            station.get("bike_stands"),
            station.get("status")
        )

        engine.execute("insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", vals)
        
    return
   

    stations_to_db(r.text)

def availability_to_db(text):
    availability =json.loads(text)
    print(type(availability), len(availability))
    for available in availability:
        print(available)
        vals = (
        (available.get("available_bike_stands")),
        (available.get("available_bikes")),
        available.get("last_update"),
        (available.get("number"))
        )
        engine.execute("insert into availability values (%s, %s, %s, %s)", vals)
    return


    availability_to_db(r.text)

def main():
    while True:
        try:
            now = datetime.datetime.now()
            r = requests.get(STATIONS , params = {"apiKey": APIKEY, "contract": NAME})
            print(r,now)
            write_to_file(r.text)
            stations_to_db(r.text)
            availability_to_db(r.text)
            time.sleep(5 * 60)
        except:
            print(traceback.format_exc())
            if engine is None:
                return

if __name__ == "__main__":
    main()

<Response [200]> 2023-03-02 21:49:39.513134
<class 'list'> 115
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 0, 'available_bikes': 30, 'status': 'OPEN', 'last_update': 1677793474000}
2023-03-02 21:49:39,972 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:39,973 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'SMITHFIELD NORTH', 42, 'Smithfield North', 53.349562, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:39,991 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677793345000}
2023-03-02 21:49:40,031 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:40,033 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'PARNELL SQUARE NORTH', 30, 'Parnell Square North', 53.3537415547453, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:40,078 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 32, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677793406000}
2023-03-02 21:49:40,358 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:40,361 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'CLONMEL STREET', 54, 'Clonmel Street', 53.336021, None, 0, 0, 33, 'OPEN')
2023-03-02 21:49:40,379 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 5, 'available_bikes': 30, 'status': 'OPEN', 'last_update': 1677793468000}
2023-03-02 21:49:40,416 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:40,417 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'AVONDALE ROAD', 108, 'Avondale Road', 53.359405, None, 0, 0, 35, 'OPEN')
2023-03-02 21:49:40,477 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793637000}
2023-03-02 21:49:40,641 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:40,642 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'JAMES STREET EAST', 20, 'James Street East', 53.336597, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:40,788 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677793536000}
2023-03-02 21:49:40,862 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:40,863 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'MOUNT STREET LOWER', 56, 'Mount Street Lower', 53.33796, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:40,876 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677793227000}
2023-03-02 21:49:40,920 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:40,921 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'CHRISTCHURCH PLACE', 6, 'Christchurch Place', 53.343368, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:40,936 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677793135000}
2023-03-02 21:49:40,974 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:40,975 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'GRANTHAM STREET', 18, 'Grantham Street', 53.334123, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:40,993 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 13, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677793349000}
2023-03-02 21:49:41,033 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,034 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'PEARSE STREET', 32, 'Pearse Street', 53.344304, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:41,050 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 32, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793287000}
2023-03-02 21:49:41,086 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,088 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'YORK STREET EAST', 52, 'York Street East', 53.338755, None, 0, 0, 32, 'OPEN')
2023-03-02 21:49:41,107 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677793175000}
2023-03-02 21:49:41,152 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,153 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'EXCISE WALK', 48, 'Excise Walk', 53.347777, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:41,171 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793179000}
2023-03-02 21:49:41,201 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,202 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'FITZWILLIAM SQUARE WEST', 13, 'Fitzwilliam Square West', 53.336074, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:41,214 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677793651000}
2023-03-02 21:49:41,251 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-02 21:49:41,252 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'PORTOBELLO ROAD', 43, 'Portobello Road', 53.330091, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:41,266 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793233000}
2023-03-02 21:49:41,302 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,303 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'PARNELL STREET', 31, 'Parnell Street', 53.350929, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:41,322 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 34, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677793539000}
2023-03-02 21:49:41,361 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,362 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'FREDERICK STREET SOUTH', 98, 'Frederick Street South', 53.341515, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:41,383 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677793160000}
2023-03-02 21:49:41,424 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,425 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'FOWNES STREET UPPER', 14, 'Fownes Street Upper', 53.344603, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:41,439 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 23, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793371000}
2023-03-02 21:49:41,481 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,482 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'CLARENDON ROW', 1, 'Clarendon Row', 53.340927, None, 0, 0, 31, 'OPEN')
2023-03-02 21:49:41,501 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 3, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677793198000}
2023-03-02 21:49:41,545 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,546 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'CUSTOM HOUSE', 23, 'Custom House', 53.348279, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:41,566 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677793417000}
2023-03-02 21:49:41,609 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,610 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'RATHDOWN ROAD', 106, 'Rathdown Road', 53.35893, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:41,626 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 5, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677793480000}
2023-03-02 21:49:41,671 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,672 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', "NORTH CIRCULAR ROAD (O'CONNELL'S)", 112, "North Circular Road (O'Connell's)", 53.357841, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:41,704 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677793359000}
2023-03-02 21:49:41,745 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,746 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HANOVER QUAY', 68, 'Hanover Quay', 53.344115, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:41,761 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793574000}
2023-03-02 21:49:41,799 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,800 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'OLIVER BOND STREET', 74, 'Oliver Bond Street', 53.343893, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:41,819 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 23, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677793502000}
2023-03-02 21:49:41,866 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,867 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'COLLINS BARRACKS MUSEUM', 87, 'Collins Barracks Museum', 53.347477, None, 0, 0, 38, 'OPEN')
2023-03-02 21:49:41,884 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677793177000}
2023-03-02 21:49:41,928 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:41,929 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'BROOKFIELD ROAD', 84, 'Brookfield Road', 53.339005, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:41,949 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677793285000}
2023-03-02 21:49:41,998 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,000 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'BENSON STREET', 90, 'Benson Street', 53.344153, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:42,019 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793600000}
2023-03-02 21:49:42,057 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-02 21:49:42,058 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'EARLSFORT TERRACE', 11, 'Earlsfort Terrace', 53.334295, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:42,077 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793420000}
2023-03-02 21:49:42,121 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,123 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'GOLDEN LANE', 17, 'Golden Lane', 53.340803, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:42,144 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677793477000}
2023-03-02 21:49:42,186 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,188 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'DEVERELL PLACE', 45, 'Deverell Place', 53.351464, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:42,205 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793651000}
2023-03-02 21:49:42,237 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,239 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'WILTON TERRACE (PARK)', 114, 'Wilton Terrace (Park)', 53.333653, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:42,254 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 23, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793604000}
2023-03-02 21:49:42,288 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,289 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'JOHN STREET WEST', 72, 'John Street West', 53.343105, None, 0, 0, 31, 'OPEN')
2023-03-02 21:49:42,306 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 33, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793181000}
2023-03-02 21:49:42,347 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,348 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'FENIAN STREET', 63, 'Fenian Street', 53.341428, None, 0, 0, 35, 'OPEN')
2023-03-02 21:49:42,367 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793449000}
2023-03-02 21:49:42,405 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,407 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'MERRION SQUARE SOUTH', 113, 'Merrion Square South', 53.338614, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:42,425 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 6, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677793187000}
2023-03-02 21:49:42,459 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,460 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'SOUTH DOCK ROAD', 91, 'South Dock Road', 53.341833, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:42,476 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793294000}
2023-03-02 21:49:42,509 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,511 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'CITY QUAY', 99, 'City Quay', 53.346637, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:42,529 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 8, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677793204000}
2023-03-02 21:49:42,575 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,577 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'EXCHEQUER STREET', 9, 'Exchequer Street', 53.343034, None, 0, 0, 24, 'OPEN')
2023-03-02 21:49:42,593 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 7, 'available_bikes': 33, 'status': 'OPEN', 'last_update': 1677793394000}
2023-03-02 21:49:42,630 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,631 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'THE POINT', 67, 'The Point', 53.346867, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:42,646 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677793400000}
2023-03-02 21:49:42,685 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,686 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'BROADSTONE', 116, 'Broadstone', 53.3547, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:42,705 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 36, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793326000}
2023-03-02 21:49:42,751 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,752 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HATCH STREET', 55, 'Hatch Street', 53.33403, None, 0, 0, 36, 'OPEN')
2023-03-02 21:49:42,769 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793499000}
2023-03-02 21:49:42,808 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-02 21:49:42,810 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'LIME STREET', 62, 'Lime Street', 53.346026, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:42,829 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 39, 'status': 'OPEN', 'last_update': 1677793643000}
2023-03-02 21:49:42,863 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,865 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'CHARLEMONT PLACE', 5, 'Charlemont Street', 53.330662, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:42,881 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 5, 'available_bikes': 35, 'status': 'OPEN', 'last_update': 1677793246000}
2023-03-02 21:49:42,922 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,924 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'KILMAINHAM GAOL', 97, 'Kilmainham Gaol', 53.342113, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:42,942 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 25, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793481000}
2023-03-02 21:49:42,984 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:42,986 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HARDWICKE PLACE', 61, 'Hardwicke Place', 53.357043, None, 0, 0, 25, 'OPEN')
2023-03-02 21:49:43,001 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 17, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677793575000}
2023-03-02 21:49:43,038 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,039 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'WOLFE TONE STREET', 77, 'Wolfe Tone Street', 53.348875, None, 0, 0, 29, 'OPEN')
2023-03-02 21:49:43,056 INFO sqlalchemy.engine.Engine COMMIT
{'number': 73, 'contract_name': 'dublin', 'name': 'FRANCIS STREET', 'address': 'Francis Street', 'position': {'lat': 53.342081, 'lng': -6.275233}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793567000}
2023-03-02 21:49:43,095 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,096 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'FRANCIS STREET', 73, 'Francis Street', 53.342081, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:43,118 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677793565000}
2023-03-02 21:49:43,159 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,160 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'GREEK STREET', 4, 'Greek Street', 53.346874, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:43,178 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677793267000}
2023-03-02 21:49:43,218 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,219 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'GUILD STREET', 49, 'Guild Street', 53.347932, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:43,235 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793317000}
2023-03-02 21:49:43,278 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,279 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HERBERT PLACE', 19, 'Herbert Place', 53.334432, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:43,293 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 7, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677793550000}
2023-03-02 21:49:43,330 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,331 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HIGH STREET', 7, 'High Street', 53.343565, None, 0, 0, 29, 'OPEN')
2023-03-02 21:49:43,346 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 8, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677793629000}
2023-03-02 21:49:43,382 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,383 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'NORTH CIRCULAR ROAD', 60, 'North Circular Road', 53.359624, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:43,402 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677793404000}
2023-03-02 21:49:43,443 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,445 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'WESTERN WAY', 102, 'Western Way', 53.354929, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:43,462 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 5, 'available_bikes': 35, 'status': 'OPEN', 'last_update': 1677793456000}
2023-03-02 21:49:43,501 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,503 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'TALBOT STREET', 38, 'Talbot Street', 53.350974, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:43,520 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793261000}
2023-03-02 21:49:43,593 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-02 21:49:43,594 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'NEWMAN HOUSE', 53, 'Newman House', 53.337132, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:43,612 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793347000}
2023-03-02 21:49:43,652 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,653 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', "SIR PATRICK DUN'S", 58, "Sir Patrick's Dun", 53.339218, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:43,668 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793674000}
2023-03-02 21:49:43,706 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,708 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'NEW CENTRAL BANK', 66, 'New Central Bank', 53.347122, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:43,726 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677793149000}
2023-03-02 21:49:43,761 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,763 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'GRANGEGORMAN LOWER (CENTRAL)', 104, 'Grangegorman Lower (Central)', 53.355173, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:43,778 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677793655000}
2023-03-02 21:49:43,816 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,817 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'KING STREET NORTH', 101, 'King Street North', 53.350291, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:43,831 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 0, 'available_bikes': 30, 'status': 'OPEN', 'last_update': 1677793192000}
2023-03-02 21:49:43,861 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,862 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'KILLARNEY STREET', 115, 'Killarney Street', 53.354845, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:43,898 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793252000}
2023-03-02 21:49:43,939 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:43,941 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HERBERT STREET', 47, 'Herbert Street', 53.335742, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:43,963 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793718000}
2023-03-02 21:49:44,005 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,007 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HANOVER QUAY EAST', 117, 'Hanover Quay East', 53.343653, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:44,026 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 6, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677793274000}
2023-03-02 21:49:44,067 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,068 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'CUSTOM HOUSE QUAY', 8, 'Custom House Quay', 53.347884, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:44,086 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793262000}
2023-03-02 21:49:44,130 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,131 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'MOLESWORTH STREET', 27, 'Molesworth Street', 53.341288, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:44,148 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 7, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677793274000}
2023-03-02 21:49:44,186 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,187 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'GEORGES QUAY', 16, 'Georges Quay', 53.347508, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:44,209 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677793369000}
2023-03-02 21:49:44,248 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,250 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'KILMAINHAM LANE', 96, 'Kilmainham Lane', 53.341805, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:44,269 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 0, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793221000}
2023-03-02 21:49:44,310 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,312 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'MOUNT BROWN', 82, 'Mount Brown', 53.341645, None, 0, 0, 22, 'OPEN')
2023-03-02 21:49:44,333 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 25, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677793243000}
2023-03-02 21:49:44,373 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-02 21:49:44,375 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'MARKET STREET SOUTH', 76, 'Market Street South', 53.342296, None, 0, 0, 38, 'OPEN')
2023-03-02 21:49:44,390 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793194000}
2023-03-02 21:49:44,427 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,429 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'KEVIN STREET', 71, 'Kevin Street', 53.337757, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:44,447 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 24, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793577000}
2023-03-02 21:49:44,486 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,488 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'ECCLES STREET EAST', 79, 'Eccles Street East', 53.358115, None, 0, 0, 27, 'OPEN')
2023-03-02 21:49:44,506 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677793316000}
2023-03-02 21:49:44,539 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,541 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'GRAND CANAL DOCK', 69, 'Grand Canal Dock', 53.342638, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:44,558 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 25, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677793606000}
2023-03-02 21:49:44,599 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,601 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'MERRION SQUARE EAST', 25, 'Merrion Square East', 53.339434, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:44,617 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793594000}
2023-03-02 21:49:44,652 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,654 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'YORK STREET WEST', 51, 'York Street West', 53.339334, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:44,672 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677793229000}
2023-03-02 21:49:44,709 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,710 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', "ST. STEPHEN'S GREEN SOUTH", 37, "St. Stephen's Green South", 53.337494, None, 1, 0, 30, 'OPEN')
2023-03-02 21:49:44,728 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 14, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677793716000}
2023-03-02 21:49:44,771 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,772 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'DENMARK STREET GREAT', 59, 'Denmark Street Great', 53.35561, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:44,786 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677793184000}
2023-03-02 21:49:44,830 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,832 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'ROYAL HOSPITAL', 95, 'Royal Hospital', 53.343897, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:44,850 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677793706000}
2023-03-02 21:49:44,914 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,916 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HEUSTON STATION (CAR PARK)', 94, 'Heuston Station (Car Park)', 53.346985, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:44,942 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 19, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677793298000}
2023-03-02 21:49:44,988 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:44,990 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'GRANGEGORMAN LOWER (NORTH)', 105, 'Grangegorman Lower (North)', 53.355954, None, 0, 0, 36, 'OPEN')
2023-03-02 21:49:45,016 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793535000}
2023-03-02 21:49:45,054 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,056 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', "ST. STEPHEN'S GREEN EAST", 36, "St. Stephen's Green East", 53.337824, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:45,071 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 39, 'status': 'OPEN', 'last_update': 1677793182000}
2023-03-02 21:49:45,106 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,107 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HEUSTON STATION (CENTRAL)', 93, 'Heuston Station (Central)', 53.346603, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:45,123 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 11, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793608000}
2023-03-02 21:49:45,173 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-02 21:49:45,174 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'TOWNSEND STREET', 22, 'Townsend Street', 53.345922, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:45,190 INFO sqlalchemy.engine.Engine COMMIT
{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677793683000}
2023-03-02 21:49:45,231 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,232 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'GEORGES LANE', 50, "George's Lane", 53.35023, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:45,250 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 17, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677793628000}
2023-03-02 21:49:45,288 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,290 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'PHIBSBOROUGH ROAD', 110, 'Phibsborough Road', 53.356307, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:45,310 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 1, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677793201000}
2023-03-02 21:49:45,346 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,348 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'ECCLES STREET', 12, 'Eccles Street', 53.359246, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:45,362 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 4, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677793572000}
2023-03-02 21:49:45,399 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,400 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'PORTOBELLO HARBOUR', 34, 'Portobello Harbour', 53.330362, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:45,417 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677793670000}
2023-03-02 21:49:45,447 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,448 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'MATER HOSPITAL', 78, 'Mater Hospital', 53.359967, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:45,473 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 10, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677793506000}
2023-03-02 21:49:45,514 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,515 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'BLESSINGTON STREET', 2, 'Blessington Street', 53.356769, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:45,534 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677793240000}
2023-03-02 21:49:45,578 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,580 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'JAMES STREET', 75, 'James Street', 53.343456, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:45,597 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-03-02 21:49:45,638 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,640 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'ORIEL STREET TEST TERMINAL', 507, 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 53.35463, None, 0, 0, 1, 'OPEN')
2023-03-02 21:49:45,655 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793495000}
2023-03-02 21:49:45,698 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,699 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'MOUNTJOY SQUARE EAST', 111, 'Mountjoy Square East', 53.356717, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:45,718 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793501000}
2023-03-02 21:49:45,752 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,753 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'MERRION SQUARE WEST', 26, 'Merrion Square West', 53.339764, None, 1, 0, 20, 'OPEN')
2023-03-02 21:49:45,770 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793432000}
2023-03-02 21:49:45,818 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,819 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'CONVENTION CENTRE', 65, 'Convention Centre', 53.34744, None, 1, 0, 40, 'OPEN')
2023-03-02 21:49:45,839 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 5, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793267000}
2023-03-02 21:49:45,884 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:45,885 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HARDWICKE STREET', 15, 'Hardwicke Street', 53.355473, None, 0, 0, 16, 'OPEN')
2023-03-02 21:49:45,901 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 0, 'available_bikes': 37, 'status': 'OPEN', 'last_update': 1677793654000}
2023-03-02 21:49:45,946 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-02 21:49:45,948 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'PARKGATE STREET', 86, 'Parkgate Street', 53.347972, None, 0, 0, 38, 'OPEN')
2023-03-02 21:49:45,967 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 8, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677793402000}
2023-03-02 21:49:46,004 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,006 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'SMITHFIELD', 35, 'Smithfield', 53.347692, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:46,025 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 2, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677793606000}
2023-03-02 21:49:46,066 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,067 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'DAME STREET', 10, 'Dame Street', 53.344007, None, 1, 0, 16, 'OPEN')
2023-03-02 21:49:46,092 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 0, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677793643000}
2023-03-02 21:49:46,131 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,133 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HEUSTON BRIDGE (SOUTH)', 100, 'Heuston Bridge (South)', 53.347106, None, 0, 0, 25, 'OPEN')
2023-03-02 21:49:46,152 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677793215000}
2023-03-02 21:49:46,190 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,191 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'CATHAL BRUGHA STREET', 24, 'Cathal Brugha Street', 53.352149, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:46,207 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677793594000}
2023-03-02 21:49:46,252 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,253 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'SANDWITH STREET', 64, 'Sandwith Street', 53.345203, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:46,272 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 0, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677793525000}
2023-03-02 21:49:46,305 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,306 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'BUCKINGHAM STREET LOWER', 109, 'Buckingham Street Lower', 53.353331, None, 0, 0, 29, 'OPEN')
2023-03-02 21:49:46,327 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 7, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677793269000}
2023-03-02 21:49:46,362 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,364 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'ROTHE ABBEY', 85, 'Rothe Abbey', 53.338776, None, 0, 0, 35, 'OPEN')
2023-03-02 21:49:46,379 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 11, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677793577000}
2023-03-02 21:49:46,413 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,414 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'CHARLEVILLE ROAD', 107, 'Charleville Road', 53.359157, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:46,432 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 4, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677793698000}
2023-03-02 21:49:46,483 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,484 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', "PRINCES STREET / O'CONNELL STREET", 33, "Princes Street / O'Connell Street", 53.349013, None, 1, 0, 23, 'OPEN')
2023-03-02 21:49:46,500 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 10, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677793688000}
2023-03-02 21:49:46,542 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,544 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'UPPER SHERRARD STREET', 44, 'Upper Sherrard Street', 53.358437, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:46,561 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793679000}
2023-03-02 21:49:46,600 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,602 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'FITZWILLIAM SQUARE EAST', 89, 'Fitzwilliam Square East', 53.335211, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:46,619 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 20, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793291000}
2023-03-02 21:49:46,661 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,663 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'GRATTAN STREET', 57, 'Grattan Street', 53.339629, None, 0, 0, 23, 'OPEN')
2023-03-02 21:49:46,689 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793136000}
2023-03-02 21:49:46,725 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

2023-03-02 21:49:46,727 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'ST JAMES HOSPITAL (LUAS)', 80, 'St James Hospital (Luas)', 53.341359, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:46,743 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 13, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677793176000}
2023-03-02 21:49:46,785 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,786 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HARCOURT TERRACE', 41, 'Harcourt Terrace', 53.332763, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:46,802 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793573000}
2023-03-02 21:49:46,845 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,847 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'BOLTON STREET', 3, 'Bolton Street', 53.351182, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:46,862 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 15, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677793565000}
2023-03-02 21:49:46,902 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,904 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'JERVIS STREET', 40, 'Jervis Street', 53.3483, None, 0, 0, 21, 'OPEN')
2023-03-02 21:49:46,922 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793421000}
2023-03-02 21:49:46,969 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:46,970 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'ORMOND QUAY UPPER', 29, 'Ormond Quay Upper', 53.346057, None, 0, 0, 29, 'OPEN')
2023-03-02 21:49:46,989 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793281000}
2023-03-02 21:49:47,024 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:47,026 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'GRANGEGORMAN LOWER (SOUTH)', 103, 'Grangegorman Lower (South)', 53.354663, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:47,041 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 25, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677793657000}
2023-03-02 21:49:47,077 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:47,079 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'MOUNTJOY SQUARE WEST', 28, 'Mountjoy Square West', 53.356299, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:47,092 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677793284000}
2023-03-02 21:49:47,133 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:47,135 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'WILTON TERRACE', 39, 'Wilton Terrace', 53.332383, None, 0, 0, 20, 'OPEN')
2023-03-02 21:49:47,153 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 17, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677793291000}
2023-03-02 21:49:47,187 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:47,189 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'EMMET ROAD', 83, 'Emmet Road', 53.340714, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:47,206 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677793140000}
2023-03-02 21:49:47,237 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:47,239 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'HEUSTON BRIDGE (NORTH)', 92, 'Heuston Bridge (North)', 53.347802, None, 0, 0, 40, 'OPEN')
2023-03-02 21:49:47,255 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793531000}
2023-03-02 21:49:47,298 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:47,299 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'LEINSTER STREET SOUTH', 21, 'Leinster Street South', 53.34218, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:47,316 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 4, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677793295000}
2023-03-02 21:49:47,360 INFO sqlalchemy.engine.Engine insert into station values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-02 21:49:47,362 INFO sqlalchemy.engine.Engine [raw sql] ('dublin', 'BLACKHALL PLACE', 88, 'Blackhall Place', 53.3488, None, 0, 0, 30, 'OPEN')
2023-03-02 21:49:47,379 INFO sqlalchemy.engine.Engine COMMIT
<class 'list'> 115
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 0, 'available_bikes': 30, 'status': 'OPEN', 'last_update': 1677793474000}
2023-03-02 21:49:47,420 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:47,422 INFO sqlalchemy.engine.Engine [raw sql] (0, 30, 1677793474000, 42)
2023-03-02 21:49:47,438 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677793345000}
2023-03-02 21:49:47,482 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-03-02 21:49:47,484 INFO sqlalchemy.engine.Engine [raw sql] (15, 5, 1677793345000, 30)
2023-03-02 21:49:47,501 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 32, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677793406000}
2023-03-02 21:49:47,539 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:47,541 INFO sqlalchemy.engine.Engine [raw sql] (32, 1, 1677793406000, 54)
2023-03-02 21:49:47,561 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 5, 'available_bikes': 30, 'status': 'OPEN', 'last_update': 1677793468000}
2023-03-02 21:49:47,601 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:47,603 INFO sqlalchemy.engine.Engine [raw sql] (5, 30, 1677793468000, 108)
2023-03-02 21:49:47,619 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793637000}
2023-03-02 21:49:47,652 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:47,653 INFO sqlalchemy.engine.Engine [raw sql] (30, 0, 1677793637000, 20)
2023-03-02 21:49:47,669 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677793536000}
2023-03-02 21:49:47,705 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:47,707 INFO sqlalchemy.engine.Engine [raw sql] (36, 4, 1677793536000, 56)
2023-03-02 21:49:47,724 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677793227000}
2023-03-02 21:49:47,765 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:47,767 INFO sqlalchemy.engine.Engine [raw sql] (15, 5, 1677793227000, 6)
2023-03-02 21:49:47,784 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677793135000}
2023-03-02 21:49:47,822 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:47,824 INFO sqlalchemy.engine.Engine [raw sql] (15, 15, 1677793135000, 18)
2023-03-02 21:49:47,842 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 13, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677793349000}
2023-03-02 21:49:47,878 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:47,879 INFO sqlalchemy.engine.Engine [raw sql] (13, 17, 1677793349000, 32)
2023-03-02 21:49:47,894 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 32, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793287000}
2023-03-02 21:49:47,935 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:47,936 INFO sqlalchemy.engine.Engine [raw sql] (32, 0, 1677793287000, 52)
2023-03-02 21:49:47,952 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677793175000}
2023-03-02 21:49:47,999 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,000 INFO sqlalchemy.engine.Engine [raw sql] (27, 13, 1677793175000, 48)
2023-03-02 21:49:48,027 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793179000}
2023-03-02 21:49:48,099 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,100 INFO sqlalchemy.engine.Engine [raw sql] (30, 0, 1677793179000, 13)
2023-03-02 21:49:48,122 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 1, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677793651000}
2023-03-02 21:49:48,174 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,175 INFO sqlalchemy.engine.Engine [raw sql] (1, 29, 1677793651000, 43)
2023-03-02 21:49:48,195 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793233000}
2023-03-02 21:49:48,252 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,253 INFO sqlalchemy.engine.Engine [raw sql] (12, 8, 1677793233000, 31)
2023-03-02 21:49:48,270 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 34, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677793539000}
2023-03-02 21:49:48,306 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,307 INFO sqlalchemy.engine.Engine [raw sql] (34, 6, 1677793539000, 98)
2023-03-02 21:49:48,324 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677793160000}
2023-03-02 21:49:48,358 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,360 INFO sqlalchemy.engine.Engine [raw sql] (15, 15, 1677793160000, 14)
2023-03-02 21:49:48,375 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 23, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793371000}
2023-03-02 21:49:48,419 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-03-02 21:49:48,421 INFO sqlalchemy.engine.Engine [raw sql] (23, 8, 1677793371000, 1)
2023-03-02 21:49:48,435 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 3, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677793198000}
2023-03-02 21:49:48,478 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,480 INFO sqlalchemy.engine.Engine [raw sql] (3, 27, 1677793198000, 23)
2023-03-02 21:49:48,498 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677793417000}
2023-03-02 21:49:48,537 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,538 INFO sqlalchemy.engine.Engine [raw sql] (33, 7, 1677793417000, 106)
2023-03-02 21:49:48,556 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 5, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677793480000}
2023-03-02 21:49:48,603 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,605 INFO sqlalchemy.engine.Engine [raw sql] (5, 25, 1677793480000, 112)
2023-03-02 21:49:48,624 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677793359000}
2023-03-02 21:49:48,662 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,664 INFO sqlalchemy.engine.Engine [raw sql] (36, 4, 1677793359000, 68)
2023-03-02 21:49:48,681 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793574000}
2023-03-02 21:49:48,724 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,725 INFO sqlalchemy.engine.Engine [raw sql] (27, 3, 1677793574000, 74)
2023-03-02 21:49:48,742 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 23, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677793502000}
2023-03-02 21:49:48,783 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,784 INFO sqlalchemy.engine.Engine [raw sql] (23, 15, 1677793502000, 87)
2023-03-02 21:49:48,804 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677793177000}
2023-03-02 21:49:48,850 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,851 INFO sqlalchemy.engine.Engine [raw sql] (21, 9, 1677793177000, 84)
2023-03-02 21:49:48,870 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677793285000}
2023-03-02 21:49:48,913 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,914 INFO sqlalchemy.engine.Engine [raw sql] (39, 1, 1677793285000, 90)
2023-03-02 21:49:48,933 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793600000}
2023-03-02 21:49:48,974 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:48,976 INFO sqlalchemy.engine.Engine [raw sql] (30, 0, 1677793600000, 11)
2023-03-02 21:49:48,993 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793420000}
2023-03-02 21:49:49,028 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,029 INFO sqlalchemy.engine.Engine [raw sql] (18, 2, 1677793420000, 17)
2023-03-02 21:49:49,048 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677793477000}
2023-03-02 21:49:49,086 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,088 INFO sqlalchemy.engine.Engine [raw sql] (16, 14, 1677793477000, 45)
2023-03-02 21:49:49,110 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793651000}
2023-03-02 21:49:49,154 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,156 INFO sqlalchemy.engine.Engine [raw sql] (40, 0, 1677793651000, 114)
2023-03-02 21:49:49,174 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 23, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793604000}
2023-03-02 21:49:49,208 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,211 INFO sqlalchemy.engine.Engine [raw sql] (23, 8, 1677793604000, 72)
2023-03-02 21:49:49,227 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 33, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793181000}
2023-03-02 21:49:49,270 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,271 INFO sqlalchemy.engine.Engine [raw sql] (33, 2, 1677793181000, 63)
2023-03-02 21:49:49,289 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793449000}
2023-03-02 21:49:49,339 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-03-02 21:49:49,340 INFO sqlalchemy.engine.Engine [raw sql] (40, 0, 1677793449000, 113)
2023-03-02 21:49:49,356 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 6, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677793187000}
2023-03-02 21:49:49,390 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,391 INFO sqlalchemy.engine.Engine [raw sql] (6, 24, 1677793187000, 91)
2023-03-02 21:49:49,412 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793294000}
2023-03-02 21:49:49,453 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,454 INFO sqlalchemy.engine.Engine [raw sql] (30, 0, 1677793294000, 99)
2023-03-02 21:49:49,473 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 8, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677793204000}
2023-03-02 21:49:49,513 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,514 INFO sqlalchemy.engine.Engine [raw sql] (8, 16, 1677793204000, 9)
2023-03-02 21:49:49,531 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 7, 'available_bikes': 33, 'status': 'OPEN', 'last_update': 1677793394000}
2023-03-02 21:49:49,574 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,575 INFO sqlalchemy.engine.Engine [raw sql] (7, 33, 1677793394000, 67)
2023-03-02 21:49:49,594 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677793400000}
2023-03-02 21:49:49,634 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,635 INFO sqlalchemy.engine.Engine [raw sql] (21, 9, 1677793400000, 116)
2023-03-02 21:49:49,655 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 36, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793326000}
2023-03-02 21:49:49,691 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,692 INFO sqlalchemy.engine.Engine [raw sql] (36, 0, 1677793326000, 55)
2023-03-02 21:49:49,711 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793499000}
2023-03-02 21:49:49,750 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,752 INFO sqlalchemy.engine.Engine [raw sql] (37, 3, 1677793499000, 62)
2023-03-02 21:49:49,768 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 39, 'status': 'OPEN', 'last_update': 1677793643000}
2023-03-02 21:49:49,802 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,804 INFO sqlalchemy.engine.Engine [raw sql] (0, 39, 1677793643000, 5)
2023-03-02 21:49:49,822 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 5, 'available_bikes': 35, 'status': 'OPEN', 'last_update': 1677793246000}
2023-03-02 21:49:49,858 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,860 INFO sqlalchemy.engine.Engine [raw sql] (5, 35, 1677793246000, 97)
2023-03-02 21:49:49,877 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 25, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793481000}
2023-03-02 21:49:49,916 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,917 INFO sqlalchemy.engine.Engine [raw sql] (25, 0, 1677793481000, 61)
2023-03-02 21:49:49,932 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 17, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677793575000}
2023-03-02 21:49:49,977 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:49,979 INFO sqlalchemy.engine.Engine [raw sql] (17, 12, 1677793575000, 77)
2023-03-02 21:49:50,001 INFO sqlalchemy.engine.Engine COMMIT
{'number': 73, 'contract_name': 'dublin', 'name': 'FRANCIS STREET', 'address': 'Francis Street', 'position': {'lat': 53.342081, 'lng': -6.275233}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793567000}
2023-03-02 21:49:50,042 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,044 INFO sqlalchemy.engine.Engine [raw sql] (28, 2, 1677793567000, 73)
2023-03-02 21:49:50,061 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677793565000}
2023-03-02 21:49:50,108 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,109 INFO sqlalchemy.engine.Engine [raw sql] (15, 4, 1677793565000, 4)
2023-03-02 21:49:50,129 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677793267000}
2023-03-02 21:49:50,168 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,169 INFO sqlalchemy.engine.Engine [raw sql] (29, 11, 1677793267000, 49)
2023-03-02 21:49:50,186 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793317000}
2023-03-02 21:49:50,226 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-03-02 21:49:50,228 INFO sqlalchemy.engine.Engine [raw sql] (30, 0, 1677793317000, 19)
2023-03-02 21:49:50,243 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 7, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677793550000}
2023-03-02 21:49:50,292 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,294 INFO sqlalchemy.engine.Engine [raw sql] (7, 22, 1677793550000, 7)
2023-03-02 21:49:50,311 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 8, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677793629000}
2023-03-02 21:49:50,357 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,359 INFO sqlalchemy.engine.Engine [raw sql] (8, 22, 1677793629000, 60)
2023-03-02 21:49:50,380 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677793404000}
2023-03-02 21:49:50,422 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,424 INFO sqlalchemy.engine.Engine [raw sql] (22, 18, 1677793404000, 102)
2023-03-02 21:49:50,449 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 5, 'available_bikes': 35, 'status': 'OPEN', 'last_update': 1677793456000}
2023-03-02 21:49:50,490 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,491 INFO sqlalchemy.engine.Engine [raw sql] (5, 35, 1677793456000, 38)
2023-03-02 21:49:50,513 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793261000}
2023-03-02 21:49:50,558 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,560 INFO sqlalchemy.engine.Engine [raw sql] (40, 0, 1677793261000, 53)
2023-03-02 21:49:50,575 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793347000}
2023-03-02 21:49:50,611 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,613 INFO sqlalchemy.engine.Engine [raw sql] (38, 2, 1677793347000, 58)
2023-03-02 21:49:50,628 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793674000}
2023-03-02 21:49:50,670 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,671 INFO sqlalchemy.engine.Engine [raw sql] (38, 2, 1677793674000, 66)
2023-03-02 21:49:50,687 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677793149000}
2023-03-02 21:49:50,728 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,729 INFO sqlalchemy.engine.Engine [raw sql] (39, 1, 1677793149000, 104)
2023-03-02 21:49:50,746 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677793655000}
2023-03-02 21:49:50,791 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,793 INFO sqlalchemy.engine.Engine [raw sql] (19, 11, 1677793655000, 101)
2023-03-02 21:49:50,809 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 0, 'available_bikes': 30, 'status': 'OPEN', 'last_update': 1677793192000}
2023-03-02 21:49:50,850 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,852 INFO sqlalchemy.engine.Engine [raw sql] (0, 30, 1677793192000, 115)
2023-03-02 21:49:50,872 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793252000}
2023-03-02 21:49:50,914 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,916 INFO sqlalchemy.engine.Engine [raw sql] (40, 0, 1677793252000, 47)
2023-03-02 21:49:50,933 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793718000}
2023-03-02 21:49:50,970 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:50,972 INFO sqlalchemy.engine.Engine [raw sql] (38, 2, 1677793718000, 117)
2023-03-02 21:49:50,989 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 6, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677793274000}
2023-03-02 21:49:51,028 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,029 INFO sqlalchemy.engine.Engine [raw sql] (6, 24, 1677793274000, 8)
2023-03-02 21:49:51,045 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793262000}
2023-03-02 21:49:51,086 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,088 INFO sqlalchemy.engine.Engine [raw sql] (17, 3, 1677793262000, 27)
2023-03-02 21:49:51,104 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 7, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677793274000}
2023-03-02 21:49:51,144 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-03-02 21:49:51,146 INFO sqlalchemy.engine.Engine [raw sql] (7, 13, 1677793274000, 16)
2023-03-02 21:49:51,163 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 19, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677793369000}
2023-03-02 21:49:51,198 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,200 INFO sqlalchemy.engine.Engine [raw sql] (19, 11, 1677793369000, 96)
2023-03-02 21:49:51,217 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 0, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793221000}
2023-03-02 21:49:51,259 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,261 INFO sqlalchemy.engine.Engine [raw sql] (0, 8, 1677793221000, 82)
2023-03-02 21:49:51,274 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 25, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677793243000}
2023-03-02 21:49:51,314 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,315 INFO sqlalchemy.engine.Engine [raw sql] (25, 13, 1677793243000, 76)
2023-03-02 21:49:51,332 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793194000}
2023-03-02 21:49:51,376 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,378 INFO sqlalchemy.engine.Engine [raw sql] (32, 8, 1677793194000, 71)
2023-03-02 21:49:51,395 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 24, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793577000}
2023-03-02 21:49:51,439 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,440 INFO sqlalchemy.engine.Engine [raw sql] (24, 3, 1677793577000, 79)
2023-03-02 21:49:51,456 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677793316000}
2023-03-02 21:49:51,489 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,491 INFO sqlalchemy.engine.Engine [raw sql] (36, 4, 1677793316000, 69)
2023-03-02 21:49:51,512 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 25, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677793606000}
2023-03-02 21:49:51,549 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,550 INFO sqlalchemy.engine.Engine [raw sql] (25, 5, 1677793606000, 25)
2023-03-02 21:49:51,569 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793594000}
2023-03-02 21:49:51,614 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,615 INFO sqlalchemy.engine.Engine [raw sql] (37, 3, 1677793594000, 51)
2023-03-02 21:49:51,633 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677793229000}
2023-03-02 21:49:51,674 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,675 INFO sqlalchemy.engine.Engine [raw sql] (29, 1, 1677793229000, 37)
2023-03-02 21:49:51,691 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 14, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677793716000}
2023-03-02 21:49:51,730 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,732 INFO sqlalchemy.engine.Engine [raw sql] (14, 6, 1677793716000, 59)
2023-03-02 21:49:51,750 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677793184000}
2023-03-02 21:49:51,786 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,788 INFO sqlalchemy.engine.Engine [raw sql] (29, 11, 1677793184000, 95)
2023-03-02 21:49:51,810 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 26, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677793706000}
2023-03-02 21:49:51,858 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,860 INFO sqlalchemy.engine.Engine [raw sql] (26, 14, 1677793706000, 94)
2023-03-02 21:49:51,888 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 19, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677793298000}
2023-03-02 21:49:51,987 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:51,989 INFO sqlalchemy.engine.Engine [raw sql] (19, 17, 1677793298000, 105)
2023-03-02 21:49:52,002 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793535000}
2023-03-02 21:49:52,036 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:52,037 INFO sqlalchemy.engine.Engine [raw sql] (40, 0, 1677793535000, 36)
2023-03-02 21:49:52,057 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 39, 'status': 'OPEN', 'last_update': 1677793182000}
2023-03-02 21:49:52,094 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-03-02 21:49:52,096 INFO sqlalchemy.engine.Engine [raw sql] (0, 39, 1677793182000, 93)
2023-03-02 21:49:52,112 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 11, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793608000}
2023-03-02 21:49:52,142 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:52,144 INFO sqlalchemy.engine.Engine [raw sql] (11, 8, 1677793608000, 22)
2023-03-02 21:49:52,202 INFO sqlalchemy.engine.Engine COMMIT
{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677793683000}
2023-03-02 21:49:52,504 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:52,506 INFO sqlalchemy.engine.Engine [raw sql] (20, 20, 1677793683000, 50)
2023-03-02 21:49:52,523 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 17, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677793628000}
2023-03-02 21:49:52,566 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:52,568 INFO sqlalchemy.engine.Engine [raw sql] (17, 23, 1677793628000, 110)
2023-03-02 21:49:52,585 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 1, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677793201000}
2023-03-02 21:49:52,625 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:52,627 INFO sqlalchemy.engine.Engine [raw sql] (1, 19, 1677793201000, 12)
2023-03-02 21:49:52,644 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 4, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677793572000}
2023-03-02 21:49:52,819 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:52,821 INFO sqlalchemy.engine.Engine [raw sql] (4, 26, 1677793572000, 34)
2023-03-02 21:49:52,840 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677793670000}
2023-03-02 21:49:53,004 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:53,006 INFO sqlalchemy.engine.Engine [raw sql] (27, 13, 1677793670000, 78)
2023-03-02 21:49:53,022 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 10, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677793506000}
2023-03-02 21:49:53,060 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:53,063 INFO sqlalchemy.engine.Engine [raw sql] (10, 10, 1677793506000, 2)
2023-03-02 21:49:53,079 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677793240000}
2023-03-02 21:49:53,127 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:53,129 INFO sqlalchemy.engine.Engine [raw sql] (28, 12, 1677793240000, 75)
2023-03-02 21:49:53,148 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-03-02 21:49:53,190 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:53,191 INFO sqlalchemy.engine.Engine [raw sql] (0, 1, 1675786128000, 507)
2023-03-02 21:49:53,207 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793495000}
2023-03-02 21:49:53,507 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:53,509 INFO sqlalchemy.engine.Engine [raw sql] (32, 8, 1677793495000, 111)
2023-03-02 21:49:53,528 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 20, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793501000}
2023-03-02 21:49:53,622 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:53,623 INFO sqlalchemy.engine.Engine [raw sql] (20, 0, 1677793501000, 26)
2023-03-02 21:49:53,647 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677793432000}
2023-03-02 21:49:53,708 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:53,709 INFO sqlalchemy.engine.Engine [raw sql] (38, 2, 1677793432000, 65)
2023-03-02 21:49:53,865 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 5, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793267000}
2023-03-02 21:49:54,045 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:54,047 INFO sqlalchemy.engine.Engine [raw sql] (5, 8, 1677793267000, 15)
2023-03-02 21:49:54,064 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 0, 'available_bikes': 37, 'status': 'OPEN', 'last_update': 1677793654000}
2023-03-02 21:49:54,107 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:54,109 INFO sqlalchemy.engine.Engine [raw sql] (0, 37, 1677793654000, 86)
2023-03-02 21:49:54,126 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 8, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677793402000}
2023-03-02 21:49:54,163 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-03-02 21:49:54,164 INFO sqlalchemy.engine.Engine [raw sql] (8, 20, 1677793402000, 35)
2023-03-02 21:49:54,183 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 2, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677793606000}
2023-03-02 21:49:54,221 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:54,222 INFO sqlalchemy.engine.Engine [raw sql] (2, 14, 1677793606000, 10)
2023-03-02 21:49:54,240 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 0, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677793643000}
2023-03-02 21:49:54,406 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:54,408 INFO sqlalchemy.engine.Engine [raw sql] (0, 25, 1677793643000, 100)
2023-03-02 21:49:54,554 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 0, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677793215000}
2023-03-02 21:49:54,595 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:54,596 INFO sqlalchemy.engine.Engine [raw sql] (0, 19, 1677793215000, 24)
2023-03-02 21:49:54,618 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677793594000}
2023-03-02 21:49:54,660 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:54,661 INFO sqlalchemy.engine.Engine [raw sql] (27, 13, 1677793594000, 64)
2023-03-02 21:49:54,691 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 0, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677793525000}
2023-03-02 21:49:54,741 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:54,742 INFO sqlalchemy.engine.Engine [raw sql] (0, 29, 1677793525000, 109)
2023-03-02 21:49:54,768 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 7, 'available_bikes': 28, 'status': 'OPEN', 'last_update': 1677793269000}
2023-03-02 21:49:54,934 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:54,936 INFO sqlalchemy.engine.Engine [raw sql] (7, 28, 1677793269000, 85)
2023-03-02 21:49:55,078 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 11, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677793577000}
2023-03-02 21:49:55,116 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:55,118 INFO sqlalchemy.engine.Engine [raw sql] (11, 29, 1677793577000, 107)
2023-03-02 21:49:55,134 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 4, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677793698000}
2023-03-02 21:49:55,174 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:55,175 INFO sqlalchemy.engine.Engine [raw sql] (4, 19, 1677793698000, 33)
2023-03-02 21:49:55,192 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 10, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677793688000}
2023-03-02 21:49:55,233 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:55,235 INFO sqlalchemy.engine.Engine [raw sql] (10, 20, 1677793688000, 44)
2023-03-02 21:49:55,249 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793679000}
2023-03-02 21:49:55,277 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:55,279 INFO sqlalchemy.engine.Engine [raw sql] (40, 0, 1677793679000, 89)
2023-03-02 21:49:55,295 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 20, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793291000}
2023-03-02 21:49:55,450 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:55,451 INFO sqlalchemy.engine.Engine [raw sql] (20, 3, 1677793291000, 57)
2023-03-02 21:49:55,463 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793136000}
2023-03-02 21:49:55,603 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:55,604 INFO sqlalchemy.engine.Engine [raw sql] (40, 0, 1677793136000, 80)
2023-03-02 21:49:55,620 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 13, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677793176000}
2023-03-02 21:49:55,655 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:55,657 INFO sqlalchemy.engine.Engine [raw sql] (13, 7, 1677793176000, 41)
2023-03-02 21:49:55,674 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793573000}
2023-03-02 21:49:55,716 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:55,717 INFO sqlalchemy.engine.Engine [raw sql] (12, 8, 1677793573000, 3)
2023-03-02 21:49:55,739 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 15, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677793565000}
2023-03-02 21:49:55,782 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)

2023-03-02 21:49:55,783 INFO sqlalchemy.engine.Engine [raw sql] (15, 6, 1677793565000, 40)
2023-03-02 21:49:55,798 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 21, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677793421000}
2023-03-02 21:49:55,977 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:55,979 INFO sqlalchemy.engine.Engine [raw sql] (21, 8, 1677793421000, 29)
2023-03-02 21:49:56,132 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677793281000}
2023-03-02 21:49:56,201 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:56,203 INFO sqlalchemy.engine.Engine [raw sql] (37, 3, 1677793281000, 103)
2023-03-02 21:49:56,223 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 25, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677793657000}
2023-03-02 21:49:56,268 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:56,270 INFO sqlalchemy.engine.Engine [raw sql] (25, 5, 1677793657000, 28)
2023-03-02 21:49:56,291 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677793284000}
2023-03-02 21:49:56,329 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:56,331 INFO sqlalchemy.engine.Engine [raw sql] (15, 5, 1677793284000, 39)
2023-03-02 21:49:56,357 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 17, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677793291000}
2023-03-02 21:49:56,434 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:56,435 INFO sqlalchemy.engine.Engine [raw sql] (17, 23, 1677793291000, 83)
2023-03-02 21:49:56,454 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677793140000}
2023-03-02 21:49:56,489 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:56,489 INFO sqlalchemy.engine.Engine [raw sql] (0, 40, 1677793140000, 92)
2023-03-02 21:49:56,506 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677793531000}
2023-03-02 21:49:56,540 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:56,540 INFO sqlalchemy.engine.Engine [raw sql] (30, 0, 1677793531000, 21)
2023-03-02 21:49:56,560 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 4, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677793295000}
2023-03-02 21:49:56,593 INFO sqlalchemy.engine.Engine insert into availability values (%s, %s, %s, %s)
2023-03-02 21:49:56,594 INFO sqlalchemy.engine.Engine [raw sql] (4, 26, 1677793295000, 88)
2023-03-02 21:49:56,614 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
#number, name, address, latitude, longitude, bike_stands